[2013-08-14 20:29] josephwegner opened #1 "UI/UX"
So, there's a couple different camps on UX of login things.
1. A bar slides down on the top of the page, and offers to log in.
2. Login boxes are autofilled, and some animation is given to draw your attention
3. There is an icon for you to click to auto login (chrome browser actions)

Clef is different from a regular password manager, so I would like to find a way that is different from the compet

[2013-08-14 20:41] josephwegner opened #2 "What do we call this thing?"
Currently called "Vault", which is fine..  But not exciting.

I suck at naming, but here are the things I think:
## Following the musical theme, of "clef"
- Accolade ("Connects two or more lines of music that are played simultaneously.")
- Tablature ("For guitars and other plucked instruments it is possible to notate tablature in place of ordinary notes")

**As I said, I suck at naming, so I don't

[2013-08-14 20:50] josephwegner opened #3 "Login Process"
Keep security in mind as you review this process:
1. User goes to page with login form
2. User is prompted to login with Clef
3. User clicks login with Clef
4. If user is not already authenticated with clef, authentication overlay is shown
5. User scans the "wave"
6. Extension receives notification that user is authenticated
7. Extension contacts augmenter server with OAuth credentials, and asks f

[2013-08-14 20:54] josephwegner commented on #3
- I will need to read more on how step #6 works - there may be additional steps in there that I'm not aware of.
- We also may need to contact the Clef servers for #7 and #8, if we decided to use the Clef ID as additional salt.  Though, I'm not sure there is any point in that if we are storing salt on the augmenter.
- At MySocialCloud we gave users the option to "Auto Login" or "Auto Fill".  Appare

[2013-08-14 21:10] josephwegner opened #4 "Augmenter"

[2013-08-14 21:28] jessepollak commented on #3
So, the one thing that we need to keep in mind is that to authenticate with Clef, we need to do a server side OAuth handshake with the Clef servers. RIght now, this works like:
1. When the user clicks the Login with Clef button, the wave is loaded in an iframe, which opens up a websockets connection with the Clef servers
2. When the user scans the Clef Wave and the Clef servers verify the user's i

[2013-08-14 21:31] jessepollak commented on #1
I think this has potential. A variant:

When a user hits a website that has a login form, we put a little animation of the Clef mark in the bottom right or left corner. On hover, it animates out into the full CLEF name and when they click the overlay comes down. This is a little more explicit than the semicircle, but it's also a bit more invasive. I do like the 'pending' feeling that the spinning

[2013-08-14 22:46] josephwegner commented on #1
That sounds awesome!

I just pushed two branches, one with each UI.  If you get a chance, check them out and let me know your thoughts.  The colors on circleUI are definitely not final, but that's the idea anyways.

Neither of them have hover or click actions - that's for the train ride in the morning.

[2013-08-14 22:54] jessepollak commented on #1
I like them both. Maybe we could mash them? Have the logo spinning on top of the circleUI? I think that a slower, more consistent spin would work better too.

[2013-08-14 23:20] josephwegner commented on #1
Heh - the more I look at it, the more I think I like the one with just the logo better.  I'm going to build out the hover state (slide out LEF), and see how I feel then.

I also just realized that we need some sort of dismiss action.  Not quite sure what that will look like yet.

[2013-08-15 13:51] josephwegner commented on #3
Gotcha - I see how that works.  So the augmentor will just function as an app that supports Clef.  Sounds good to me.

[2013-08-15 13:53] josephwegner opened #5 "License"
How is this going to work?

The repo is owned my Clef - does that mean the source belongs to Clef?  Is it open source?  Do the rights/attribution go to me, or Clef?  Or are we doing some sort of dual license?  Will we eventually be making this repo public (allowing me and others to fork it)?

If a year from now we have a falling out about the extension, am I free to take the code and run? (not tha

[2013-08-15 17:32] jessepollak commented on #5
We should just go with your OSS license of choosing, as lenient as possible. Definitely no ownership by Clef; attribution can go to anyone who helps out.

Yes, the repo should definitely be made public. I just want to get something solid before we do that (especially with crypto code etc).

Hopefully no falling outs :D but yes, most certainly.

Basically, the way I think this should happen is that

[2013-08-15 17:32] jessepollak commented on #3
Exactly.

[2013-08-15 17:32] jessepollak commented on #2
I'm into the music them. I'll keep thinking about it.

[2013-08-15 17:34] jessepollak commented on #4
As I mention in another thread, I think that we want this to be something that, by default, there is a centrally hosted version of, but if a user chooses, they can host their own key server.

Just a heads up, I'm heading into the wilderness for 5 days, starting tomorrow midday, so I'll be out of contact for that period.

[2013-08-15 20:38] josephwegner commented on #5
OK - I'm just going to got with [MIT](http://choosealicense.com/licenses/mit/), unless you care.

I will respond to the second half in the other comment thread, where it is more appropriate.

[2013-08-15 20:42] josephwegner commented on #4
You said:

I think that's a good idea.  I think it may be worthwhile to break the augmentor out into a separate repo.  Both for cleanliness and because I think it could be useful in applications not specifically related to Clef.  ( _Oh boy, now I got myself wrapped up in making a cross-platform augmentor..  And writing it in Go.  I better stop thinking about it_ )

[2013-08-15 20:48] jessepollak commented on #4
I agree.

On Thu, Aug 15, 2013 at 1:42 PM, Joe Wegner notifications@github.comwrote:

[2013-08-16 14:05] josephwegner commented on #1
Apparently GMail doesn't like the stuff I'm doing with SVG :)

![screen shot 2013-08-16 at 8 53 22 am](https://f.cloud.github.com/assets/657707/975607/31577a4a-067c-11e3-876b-a0436bbca721.png)

Anyways, you can kind of see what I'm working on on the left side.  I've got the spinning logo in the bottom right, and on-hover it spins to the "C" position, and animates in a darker hit zone that is about

[2013-08-16 22:29] #5 closed, assigned to nobody

[2013-08-16 22:31] josephwegner commented on #1
From: f9fedcc4d

The SVG stuff is done, and I actually think it's really cool.  There's animations for hover, focus login, focus dismiss, and submit - all of which I think are great.

Take a look, and let me know what you think.  I know you're on vacation, so I might just run with this if I don't hear back from you.  If you get back and don't like it, I'm sure we can easily switch.

[2013-08-17 00:45] josephwegner opened #6 "Default Branch"
So, I didn't realize that Github automatically sets the first pushed branch as the default branch for the repo.

I don't have admin rights on this repo - could one of you change the default branch to master?

[Instructions](https://help.github.com/articles/setting-the-default-branch)

[2013-08-17 21:46] josephwegner commented on #1
From: 6ec89441426c5b28a7ca3fb1457249abd7083271

I added an options page to the extension, which pretty much just contains a login form.  This will allow you to play/dev with the extension offline.

[2013-08-19 13:48] josephwegner commented on #1
I just realized that we need to have some UI for adding (editing, deleting) credentials.

If we want, we can leave a real UI out for the MVP, and just have CRUD functions on the options page..  But it's definitely a must-have for a real release.  Again, the industry standard is to have a bar slide in at the top of the page, but I'm inclined to try something different.  I just don't know what.

[2013-08-19 20:52] josephwegner opened #7 "Local Storage or Sync Storage"
Chrome has something called "sync storage".  Essentially, it's a version of the HTML5 storage mechanism that gets synced across computers running chrome under your user account.

I'm tempted to use the sync storage for storing credentials.  The idea behind a password manager is that it will remember your passwords, which often leads to forgetting passwords.  Chrome sync would solve that.

However,

[2013-08-20 01:24] josephwegner commented on #4
OK,

Things are pretty much done until the augmenter is built.  The extension is encrypting, storing, retrieving, filling, yada yada yada - just need to grab the encryption keys from the augmenter.

I suppose I should have asked what stack you wanted to run it on, so that I could get started while you're on vacation.

[2013-08-21 18:44] landakram commented on #6
done

[2013-08-21 18:44] #6 closed, assigned to landakram

[2013-08-21 18:51] landakram commented on #7
I don't like the idea of tying things/requiring a GMail account, since I don't even log in to GMail when I use Chrome. Syncing the credentials is tempting though, so we should keep that in mind for the future.

I say we stick with local storage for now.

[2013-08-21 18:53] landakram commented on #7
Also, if people run an augmenter locally (would they?) then the synced credentials wouldn't work. They'd need to run an augmenter elsewhere or use the central one. Just something to think about.

[2013-08-21 19:20] josephwegner commented on #7
Right - I don't believe a google account is required in order to use sync storage (it just wouldn't sync).  That's a good point about the augmenter, though.  If people ask for that feature down the road, we should probably make it opt-in so that nothing gets overwritten.

[2013-08-22 13:58] jessepollak opened #8 "aes.js is missing"
Not sure what's going on here, I think we're just missing the cryptojs dependency.

![screen shot 2013-08-22 at 6 58 03 am](https://f.cloud.github.com/assets/1097953/1009098/f2612064-0b32-11e3-911b-d9a4e51427aa.png)

ps. I'm back!

[2013-08-22 14:00] jessepollak commented on #8
Added aes.js from cryptojs in 72d9e4f. Not 100% sure whether this is the correct implementation, got it from [here](https://code.google.com/p/crypto-js/downloads/list).

@josephwegner please confirm and close.

[2013-08-22 14:03] josephwegner commented on #8
Whoops.  I have a bad habit of forgetting to `git add` everything.  My bad!

That file you added will work.

Welcome back - hope your vacation was great!

[2013-08-22 14:03] #8 closed, assigned to josephwegner

[2013-08-22 14:09] jessepollak commented on #8
Still needed core.js from CryptoJS, I put all the CryptoJS code in one file and reorganized the vendor javascript into a separate folder in 9dc25b5.

The vacation was awesome; saw a bear, caught and ate some fish, all the good stuff.

[2013-08-22 14:17] jessepollak commented on #8
Was still broken; realized there was a rolled up version of aes.js that you'd probably been using.

Fixed in 66a7cfb.

[2013-08-22 14:19] josephwegner commented on #8
Inside of [that zip](https://code.google.com/p/crypto-js/downloads/list) there is a folder called "rollups".  Those are each encryption method rolled up with the core.  If what you did works just as well, that's fine, but if you run into more issues that rollup should work.  That's what I was using on my local.

(odd that when I pulled your last commit down it still worked...  Not sure what the de

[2013-08-22 14:20] jessepollak commented on #7
I agree on sticking with localStorage for now.

Does mobile chrome have extensions?

[2013-08-22 14:22] jessepollak commented on #4
Whoops, sorry!

So, at Clef, we're entirely Python/Flask/SQL; my stack of choice is Ruby/Sinatra/SQL, but I'd also be excited about trying something new.

You mentioned Go, have you used it before? I've been meaning to and would love to give it a shot if you're up for it.

[2013-08-22 14:31] jessepollak commented on #8
see above :D

[2013-08-22 14:35] josephwegner commented on #7
No, chrome mobile [does not support extensions](https://developers.google.com/chrome/mobile/docs/faq).

Local it is.  Closing this.

[2013-08-22 14:35] #7 closed, assigned to nobody

[2013-08-22 14:37] josephwegner commented on #4
I've never used Go before, but am pretty determined to write one of my next few projects in it.  There's no technical reason that it would be good for the Augmenter (or, at least, better than anything else), but it would be fun to learn it.

I'm in.

Do you want me to create a separate repo, or you?

[2013-08-22 15:19] jessepollak commented on #4
Just talked to @brennenbyrne and @landakram and we actually think we should
use a language we're all more familiar with because it's a security
sensitive application.

thoughts?

On Thu, Aug 22, 2013 at 7:37 AM, Joe Wegner notifications@github.comwrote:

[2013-08-22 16:01] josephwegner commented on #4
That sounds fine by me.  I'll use Go on another project :)

I'm generally a Node.js guy, but I do a lot of work in ruby these days.  Want to go with that?

[2013-08-23 16:16] jessepollak commented on #4
I'm into going with Node. I haven't used it in awhile, but shouldn't be hard for me to pick back up. One question: I hear a lot about the problems with JS crypto; does this apply to Node as well?

[2013-08-23 19:33] josephwegner commented on #4
I don't know of any issues with using crypto in Node.  The only reference I can find [is here](http://www.matasano.com/articles/javascript-cryptography/), but that's a pretty vague reference to an otherwise undocumented problem.  The crypto libraries are built into node, so they should be written in C++ and pretty safe.

I'll put together some scaffolding of an API.  I wrote a [simple api module](

[2013-08-23 20:01] jessepollak commented on #4
Yeah, I figured it was mostly relegated to browser crypto.

Sounds good to me. Github link?

Let's think about what we need to make this work (this is in a MySQL-esque format, but I'm really not tied to that).
- User
  - clef_id
  - created_at
  - updated_at
  - other attributes

The User has_many encryption keys, one for each site.
- Encryption key
  - user_id
  - site domain
  - key
  - created_

[2013-08-23 21:03] josephwegner commented on #4
Simple API Module: https://github.com/josephwegner/simple-api
The documentation might not be super clear, so here's an example of a controller: https://github.com/josephwegner/css3man/blob/master/api/v0/controllers/men.coffee

For some reason I had it in my head that we were going to have to implement an OAuth server.  Thank goodness Clef does all the authentication junk for us :)

I think all tha

[2013-10-05 01:02] #4 closed, assigned to jessepollak

[2013-10-05 01:02] josephwegner commented on #3
The technical pieces of this are done, so I'm closing this issue.  UX isn't finalized, but that's out of scope here.

[2013-10-05 01:02] #3 closed, assigned to nobody

[2013-10-07 01:07] jessepollak opened #10 "Restructure clef.js file"
I don't like the clef_ format, what are thoughts on reorganizing this to a more OO format @josephwegner .

[2013-10-07 01:12] jessepollak opened #11 "Change crypto scheme a little bit"
Right now, we're storing and passing the encryption keys in plain text. This sucks.

I (along with @landakram) propose a new scheme, which would eliminate some of these problems.
1. On extension installation, generate a public and private key. Store private key in local storage.
2. On first connection with Clef, send public key to server and store.
3. Whenever a new encryption key is generated, in

[2013-10-07 14:48] josephwegner commented on #11
Correct me where I'm wrong...

The attack vector you're worried about is that an attacker has encrypted passwords (somehow stolen from the users computer) and the decryption keys (somehow stolen from Cydoemus..  MITM, db hack, etc.).  This would give the attacker everything he needs to decrypt the stolen passwords.

The solution you propose would be to encrypt the encryption keys (this is getting

[2013-10-07 14:49] josephwegner commented on #10
Heh, you're absolutely correct.  When I started that format I didn't realize I would have so many functions.

I will create a master ClefVault object and contain the rest of the functionality in that.

[2013-10-07 14:53] jessepollak commented on #10
Go with Vault (rather than ClefVault).

On Mon, Oct 7, 2013 at 7:49 AM, Joe Wegner notifications@github.com wrote:

[2013-10-07 14:55] josephwegner commented on #10
I prefer ClefVault..  Vault is pretty generic, and has a pretty high likelihood of overlapping with other JS that may be on the page.  That clef.js file gets injected directly into the page - I'd hate for it to break some site's login form.

[2013-10-07 14:56] jessepollak commented on #10
Fair enough.

On Mon, Oct 7, 2013 at 7:55 AM, Joe Wegner notifications@github.com wrote:

[2013-10-11 19:32] jessepollak commented on #10
This is better, closing.

[2013-10-11 19:32] #10 closed, assigned to nobody

[2013-10-11 19:32] jessepollak commented on #2
bypass.io

[2013-10-11 19:33] jessepollak commented on #11
I'm going to close this for now.

[2013-10-11 19:33] #11 closed, assigned to nobody

[2013-10-11 19:33] josephwegner commented on #2
Does this getting closed mean you bought it?!?!

[2013-10-11 19:35] jessepollak opened #13 "Implement Bypass for 10 different sites with login and logout"
So far, we have:
- Facebook

IDEAS:
- Google (this one could be tricky)
- ~~Twitter~~
- Trello
- Pivotal Tracker
- ~~Hacker News (should be very easy)~~
- Capital One

[2013-10-11 19:37] jessepollak commented on #2
I just went to buy it...and it's not available. fack.

[2013-10-11 19:38] josephwegner commented on #13
Should we focus on this list: https://getclef.com/websites ?

[2013-10-11 19:39] josephwegner commented on #2
NOOOOOOO.. Back to the drawing board.

[2013-10-11 20:46] jessepollak commented on #13
We definitely could.

[2013-10-11 20:46] josephwegner commented on #13
Works for facebook, twitter, ycombinator...  Capital One is going to be tricky, but certainly possible.

I don't have Pivotal or Trello accounts.  Can you work on those?

[2013-10-11 20:47] jessepollak opened #14 "Namespace everything under a user ID, so we can have multiple users on one computer."

[2013-10-11 20:56] josephwegner commented on #13
Capital One login works, but log out doesn't.

The creds are stored on the login.capitalone.com domain, but the logged in domain is servicing.capitalone.com.  I think that's why logout doesn't work.  Any ideas, @jessepollak

[2013-10-11 21:00] josephwegner commented on #13
Same issue with Google.  Login is stored on accounts.google.com, but logout is generally not there.

[2013-10-11 21:17] jessepollak commented on #13
yeah, those are going to be trickier. I think we'll need to have edge cases. @brennenbyrne has discussed have basically a folder of site specific configs. This way, if someone wants to add a new site, they just drop in a google.js file and setup everything.

thoughts?

[2013-10-11 22:09] josephwegner commented on #13
You mean a folder in the repo?  It would have to be - there's no folder on the system that the extension would be able to access.  At least, I don't think there is.

If we're going to do it in the repo, it's probably easiest to have one config file, and people can put PRs in on that config file.  Otherwise, every time they add a file they're also going to have to add it into the background scripts

[2013-10-11 22:11] josephwegner commented on #13
Either way, though, there's a solution to the Capital One & Google problem.  I don't know exactly how the chrome cookie APIs work, but there's got to be a way to find all cookies for a root domain (ie: google.com, instead of accounts.google.com).  We can just log the user out of everything that way.

[2013-10-11 22:14] josephwegner commented on #2
It looks like into.io is available.  Not a great name, but it's definitely applicable!

[2013-10-11 22:17] josephwegner commented on #2
Nevermind..  Even domainr's partners are lying to me now.

[2013-10-11 22:25] josephwegner commented on #2
overpass.io
underpass.io
clasp.io

[2013-10-11 22:43] jessepollak commented on #2
Brennen says squid.io/getsquid.com

[2013-10-11 22:43] jessepollak commented on #2
I like clasp, but it's kind of hard to say.

[2013-10-11 22:56] jessepollak commented on #13
we could do some sort of build process that integrated them all in?

I'm not sure how I feel about the pull and update for new sites...that
seems wrong.

On Fri, Oct 11, 2013 at 3:09 PM, Joe Wegner notifications@github.comwrote:

[2013-10-11 23:32] jessepollak commented on #2
Brennen and Mark are in favor of squid, I don't like it much but could settle. I liked into, but it's hard to say and parse when you're having a conversation about what you're using. Clasp is too hard to say.

[2013-10-12 00:04] jessepollak opened #15 "Introductions"
@josephwegner @brennenbyrne @landakram I'd like y'al to meet @apandhi.

I met him at hackNY and was super impressed and we've been talking over email for the last few weeks. He really likes Clef, and like Joe, has offered to help out with some of the open source stuff we do — including this extension.

I'm really excited to have him!

@apandhi — a brief intro to who we are:

I run product and dev

[2013-10-12 00:05] jessepollak opened #16 "Add a toolbar shortcut to options"
We need a shortcut in the toolbar to manage options

[2013-10-12 00:08] jessepollak opened #17 "Rethink credential input UX"
Right now, credential input stinks. We need to change it.

Here's what I'm thinking.
1. You hit a site you haven't added to Vault yet.
2. You click the spinner.
3. You log in to Clef if you haven't already.
4. Everything gets an opacity overlay except for the username field and a message displays something like "Input your username"
5. Same thing for a password.
6. Highlights the input button and

[2013-10-12 00:09] jessepollak opened #18 "Don't save credentials if they are wrong"
Sometimes you make a mistake when you're entering your credentials. That stinks!

We should detect when this happens and do two things:

1) not save the credentials
2) place you right back into the flow (with the option to dismiss it)

[2013-10-12 00:10] jessepollak commented on #15
Also, we have an open chat about all this in this hipchat room: http://www.hipchat.com/gHZ3YHExT

[2013-10-12 00:19] iamb55 commented on #15
Hey Ashish, it's great to meet you! Thanks for helping out

[2013-10-12 00:29] jessepollak opened #19 "Fix logout when browser is quit"
User should be logged out when they open it.

This isn't the best solution security wise and I'd like to think more on how we could improve this.

[2013-10-12 00:30] jessepollak opened #20 "Log user out of every site on extension uninstall"
Security measure. Obviously not a great one, but worth having.

[2013-10-12 00:31] landakram commented on #15
Great to meet you Ashish!

[2013-10-12 00:31] jessepollak commented on #15
Another introduction!

Everyone who hasn't already, meet @lolux.

Laurence is probably the coolest person ever. He's been a Clef user since pretty much day 1 and has contributed to our WordPress plugin. He's still learning the codez, but he's learning fast and will be helping out with testing (and contributing soon, I'm sure).

Boom!

[2013-10-12 00:33] jessepollak opened #21 "Add build task for minifying extension files and removing unecessary ones"
Grunt, FTW.

[2013-10-12 01:23] josephwegner commented on #15
Hey - great to meet you all!  Thanks for helping out - I'm super pumped to get the vault released, and more importantly see Clef take off!

[2013-10-12 01:27] josephwegner commented on #19
You mean they should be logged out whenever they first open their browser?  So we're killing the "remember me" things?  That seems dangerous.

[2013-10-12 01:29] josephwegner commented on #2
I still don't like squid, but I'm with you that I could definitely settle.  I just want the thing launched!

I agree, into is hard to talk about.  It's a nice idea, but impractical.  Same thing in clasp.

I can do squid if we just want to decide and be done with it.

[2013-10-12 01:30] josephwegner commented on #13
How would new sites get added without an extension update?  If the user installs through the chrome web store, they have no access to the extension files...

[2013-10-12 01:34] jessepollak commented on #13
Yeah, I was agreeing with you on that :)

I'm not sure what to do.

[2013-10-12 01:34] jessepollak commented on #13
Added Github

[2013-10-12 01:36] jessepollak commented on #19
No, I mean we should check whether they are still logged into Cy and if not log them out.

[2013-10-12 01:37] jessepollak commented on #19
This is broken right now because I keep a logged_in variable and check whether that's true before I do authenticationChecks. This variable should be switched to storage so it persists beyond shutdown.

[2013-10-12 01:37] jessepollak commented on #2
We'll keep thinking about this, but if we don't have something better by Monday, we'll go with squid.

[2013-10-12 01:46] apandhi commented on #2
Well if you want to follow music themed, here is a list of possible choices:
http://www.classicalworks.com/html/glossary.html

I like forte.io

[2013-10-12 01:47] josephwegner opened #23 "Define Clef's Relationship in README"

[2013-10-12 01:48] apandhi commented on #15
Hey guys! Great to meet you guys also!

I guess I should introduce myself. My name is Ashish. I'm the lead developer at Essence Labs. I recently launched listr.io. Yup that's about it for me.

I'm looking forward to working with you guys!

[2013-10-12 01:49] jessepollak commented on #23
:thumbsup:

[2013-10-12 01:49] jessepollak commented on #2
Ah, we all loved forte, but it's not available :(

[2013-10-12 02:38] jessepollak commented on #2
The latest contender is waltz. We can buy waltz.io and getwaltz.com.

It's a little tricky to say, but I like it.

[2013-10-12 02:40] apandhi commented on #2
I really like waltz. Move from site to site as if you were dancing a waltz (or something like that. I'm not a marketing person!)

[2013-10-12 02:41] jessepollak commented on #2
Also, it's like a dance between Clef and passwords :)

[2013-10-12 02:50] apandhi opened #24 "closeIFrame called 3 times when iframe is closed"
No clue why it happens, though.

Adding a simple alert inside the inner conditional statement shows that it function is called three times even though only one iframe was present and closed

[2013-10-12 02:59] jessepollak opened #25 "Request credentials walkthrough displays multiple times"
Steps to recreate:
1. Visit any log in page where you haven't entered credentials
2. Open and close the sync page multiple times
3. Sync to log in
4. Bad

[2013-10-12 03:01] jessepollak opened #26 "Dismiss button is missing it's icon"
@josephwegner

[2013-10-12 04:08] lolux commented on #15
Gentlemen,

It's an honor to meet you. If you're ever passing through Orlando and need
a place to stay or a cold drink, look me up.

This Vault idea is really awesome. Man, I was just getting excited about
Clef payments, and now another killer Clef creation to boot -- boooom!

Speaking of awesome, thanks for the unbelievable intro, @jesse. Honestly, I
can't explain the mysterious reasons why, but

[2013-10-12 11:59] josephwegner commented on #2
:+1:  for waltz.  I say buy it.

[2013-10-12 13:01] josephwegner opened #27 "Logged out of all sites when Clef auth times out"
After the hour of being logged in, I get a chrome notification that I've been logged out of bypass.  I'm then logged out of all my sites.

[2013-10-12 16:21] jessepollak commented on #27
Is this not the intended functionality?

[2013-10-12 16:49] josephwegner commented on #27
Hm..  Well, I guess that's an interesting question.  And probably applies to Clef in general, not just Waltz.

I love being able to **choose** to log out from everywhere when I want to.  However, if I'm in the middle of working on a site, and the timer runs out, I do not want to be logged out.  I did not realize that was how Clef worked by default.

That seems pretty dangerous..  What if I was in

[2013-10-12 16:50] josephwegner opened #28 "Namespace CSS"
This should be pretty easy since we're using SASS..  Without namespaces, though, we're running into conflicts on some sites.  The clef widget blows up on Amazon, for instance:

![screen shot 2013-10-12 at 8 22 13 am](https://f.cloud.github.com/assets/657707/1320468/7495c47e-335e-11e3-8827-88a43f4ddc44.png)

[2013-10-12 17:21] jessepollak commented on #27
Yeah, figuring out the UX of this has been my biggest concern since I've had a day to play with it. I have a few thoughts:

1) On login, we could prompt the user whether they want to be logged out when the Clef session ends. This is annoying, but will put more prerogative on them.

2) On logout, we could give the user a 1 minute countdown where they have to reauth with Clef before being logged out

[2013-10-12 17:22] jessepollak commented on #2
OK, I'm going with Waltz.

[2013-10-12 17:22] #2 closed, assigned to nobody

[2013-10-12 17:24] jessepollak commented on #2
Bought.

[2013-10-12 17:30] jessepollak opened #29 "Design logo and style guidelines for Waltz"
Would love to hear people's thoughts about what the "feel" of Waltz should be.

A few different ideas:
- we could go playful and musically, like a white with purple (or another easier color), with serifed fonts
- we could go for the tuxedo vibe

[2013-10-12 17:33] josephwegner commented on #29
I think it should match the vibe of Clef - so somewhat modern.  The clef
logo is the primary thing the user will see, so it makes sense to build the
brand around that.
On Oct 12, 2013 12:32 PM, "Jesse Pollak" notifications@github.com wrote:

[2013-10-12 17:43] jessepollak opened #30 "Add ability to delete credentials in options"

[2013-10-12 19:32] jessepollak opened #31 "Change names to Waltz"

[2013-10-12 20:07] josephwegner commented on #27
I think (2) is best, but we should add a setting to the options page so the user can turn off, per-domain, if they want to be automatically logged out.

[2013-10-13 02:27] jessepollak commented on #29
we had our first go.

![waltz](https://f.cloud.github.com/assets/1097953/1321306/04fecc36-33af-11e3-82a8-4e19e1d04fa0.png)

[2013-10-13 02:49] jessepollak commented on #29
second go.

![w](https://f.cloud.github.com/assets/1097953/1321335/3af8b290-33b2-11e3-8ef8-5ad8c2b11c09.png)

[2013-10-13 06:05] jessepollak commented on #29
messing around with a home page

![waltz](https://f.cloud.github.com/assets/1097953/1321497/601db92e-33cd-11e3-91ec-03817f163c2f.png)

[2013-10-13 06:05] jessepollak commented on #29
obviously, placeholder icons etc

[2013-10-13 12:07] josephwegner commented on #29
I'd like to have some section that says Waltz is using Cy for encryption.  I think Cy is a really cool thing - it's better than how most password managers are doing things.

[2013-10-13 12:08] josephwegner commented on #29
Other than that, it's really great.  The logo is awesome.  I freaking love the bow tie.

[2013-10-13 12:45] josephwegner opened #33 "Make Repo Public"
I'm uploading the extension to the web store so we can start sending it out to beta testers.  Can we make this repo public so bug reports and discussions can happen on Github?

[2013-10-13 12:45] #15 closed, assigned to nobody

[2013-10-13 12:47] josephwegner commented on #21
I added a compress action to grunt this morning (and stupidly pushed it to the new-credential-input branch...).  Right now it compresses everything in the extension dir to ../waltz.zip

[2013-10-13 12:50] josephwegner commented on #1
Seems like the UI/UX discussion is evolved to the point that this general thread doesn't make sense.  Closing.

[2013-10-13 12:50] #1 closed, assigned to nobody

[2013-10-13 19:58] jessepollak commented on #33
Yes, I'm going to create an organization for Waltz and we'll put both Cy and Waltz underneath that.

[2013-10-13 20:02] jessepollak commented on #29
OK, we'll keep moving ahead with this pattern then.

In terms of Cy, I think that we should feature it as "encrypted locally" — I'm not 100% sure that we're doing is better than a master key encryption like 1password etc, but I think it is really good that it's all stored locally.

[2013-10-13 20:02] jessepollak commented on #27
Agreed.

[2013-10-13 20:02] jessepollak commented on #21
OK, there's also a grunt plugin for building chrome extensions, which we could look into.

[2013-10-13 20:05] jessepollak opened #34 "Heuristic vs. Defined"
So, I'm starting to think that we should do away with the heuristic login field finder and just do defined configurations for each site, which are super easy to add.

A big question for this:

Should we even worry about the specific form fields or should we just look for the input names and POST route. This would mean that we could log a user in from _any_ page on the domain, but I'm not sure if i

[2013-10-13 20:17] josephwegner commented on #34
So, I'm open to being convinced that the heuristic approach is incorrect, but I'd like to hear the arguments.  Is there something that is not working about the current approach that likely cannot be solved with some tuning of the algorithm?

I'm mostly worried that going the defined route will provide a lesser experience for users.  There is no way we can expect to define configurations for anywhe

[2013-10-13 20:18] josephwegner commented on #21
Let's do that.  I (or someone ) can pull the changes I made out of new-credential-input, and do the correct work on master.  That way we do the _right_ thing, and I don't look like an idiot for committing on the wrong branch!

[2013-10-13 20:22] ahrussell commented on #34
Why not both?  The latter sounds like a better option provided it works -
if it doesn't, we fall back to the old way.

On Sun, Oct 13, 2013 at 1:05 PM, Jesse Pollak notifications@github.comwrote:

[2013-10-13 20:22] apandhi commented on #34
Hm here is an interesting thought. Why not crowd source the sites?

When the extension is loaded, have it pull in a list of all sites and configurations. Let the user be able to say "This is the username box", "This is the login button", etc. After around 10-15 people make the same configuration, you can assume that the configuration is correct and save it to the main document.

This way, you coul

[2013-10-13 21:56] josephwegner commented on #34
@apandhi I had suggested this in hipchat at one point, and I actually believe that is the best option.  However, we would have to build the system for receiving and serving that data.

I think it is well worth building that system, but I'm not sure if we should do it for v1.  I'm inclined to get an MVP out ASAP, and tack on the features as we get feedback and have time.

@zrathustra I also think t

[2013-10-13 21:59] josephwegner commented on #29
I suppose that it's not necessarily better than a master key system _yet_.  If Clef ever gets the update to provide some salt, I think this is much better than master key encryption.  Once we get there, stealing the DB has absolutely no value - the critical data only exists on user's local HDs (and then, it is still encrypted).

Anyways, yeah, I don't think the homepage needs to go into great deta

[2013-10-13 22:49] josephwegner opened #35 "IRC Chat"
@lolux @jessepollak @zrathustra @brennenbyrne @landakram @apandhi

We're setup with an IRC chat on Freenode.  #waltz

I'm working to get logs on it now.

[2013-10-14 03:28] jessepollak commented on #31
Done

[2013-10-14 03:28] #31 closed, assigned to nobody

[2013-10-14 03:28] jessepollak commented on #33
Done, everyone should change their git origins.

[2013-10-14 03:28] #33 closed, assigned to nobody

[2013-10-14 12:54] lolux commented on #34
It might be worth considering allowing users the ability to manually
copy-n-paste credentials too in sites that, for whatever reason, do not
allow either heuristic or defined auto-filling.

For instance, I ran across this situation in using LP with the old version
of Pandora.com, which used Flash-based login forms [insert angry spit here]
and hence required manual copy-n-pasting of my credentials.

[2013-10-14 13:38] josephwegner commented on #34
Yeah, we'll have to figure out a good way to do that.  Currently you can access your usernames/passwords from the options page and copy+paste from there, but that's not a great interaction.  Perhaps we can add another charm to the widget for copy and pasting.

[2013-10-14 15:53] josephwegner opened #36 "Valid SSL Cert"
Extension breaks if you haven't bypassed the ssl cert errors.  We should move to waltz.io, and get a real SSL cert probably

[2013-10-14 18:21] josephwegner opened #37 "Explain what Cydoemus Is"
The first time you try to log into a site, you need to authenticate with Cydoemus.  Clef gives the message "Cydoemus is requesting that you sign up with Clef."

We should describe what Cydoemus is.

@jessepollak Any ideas on UX for this?  Probably just something on first run, but where the heck do we put it?

[2013-10-14 18:29] jessepollak commented on #37
Cy should just be renamed to Vault and the Vault logo should be used as the image, yeah?

[2013-10-14 18:37] josephwegner opened #38 "Indicate to the user that passwords *are* getting stored"
It's not entirely clear, because Clef is inherently a password replacement, that the extension is storing passwords.  We should put some success charm in after the user hits submit that indicates the creds are saved.

[2013-10-14 20:47] josephwegner opened #39 "Vision"
I'm having my bro test out the extension.  He was not a Clef user prior to me asking him to test the extension.  He is a pretty medium amount of tech savvy.  In my head, he's pretty much exactly the market that Waltz is targeting.

Among some technical issues, his primary feedback is that he no longer understands what Clef does.  He originally understood that Clef was a password **replacement** (w

[2013-10-14 20:58] josephwegner commented on #39
My answers to those questions:
- Waltz is an extension of Clef.  I mean, yes, it's really just a password manager, but I don't want it to feel that way.  I want it to feel like users are actually using Clef.
- To be honest, my goal with Waltz is simply to drive traffic to Clef.  I think Clef has a vast amount of potential, but the biggest struggle is visibility.  I want Waltz to bring a Clef-like

[2013-10-15 05:20] jessepollak commented on #39
@brennenbyrne @landakram

My answers to these questions:
- I've had a really hard time with this one. A lot of times, I've wanted Waltz to be a password manager that just uses Clef. That maybe we could plug in other technologies for Clef. But I think a lot of that want has come from a feeling of wanting to feel neutral. Really, I think that the way _I_ want this in terms of my personal enjoyment o

[2013-10-15 05:22] jessepollak commented on #39
On a marginally separate note, I just want to thank @josephwegner and @lolux for being awesome supporters of Clef. We have a ton of awesome fans, but you two in particular have been great. Really, @brennenbyrne, @landakram and I run on your support and kind words. All of this is amazingly fun and awesome, but it's also impossibly hard and having the positive reinforcement from outside voices is re

[2013-10-15 05:23] jessepollak commented on #36
Yes, I will buy this soon.

Do we want to start with a clean server or use the one we've been using?

[2013-10-15 05:38] ahrussell commented on #39
why don't you just marry them already

PS I've been taking a break from studying to look at all of this, and I
must say I'm impressed by everything you guys have done!  I'm super excited
to see Waltz out in the wild (it's been pretty sweet to use and I've been
using it about every day - it has its warts but the poc is there and it's
going to be even more awesome).

On Mon, Oct 14, 2013 at 10:22 PM

[2013-10-15 05:45] jessepollak commented on #34
I think that our discussion in #39 pushes this more towards defined rather than Heuristic.

We really want this to feel like magic, rather than a password manager. I think this means a few things:
- log in from anywhere
  - if you're on a domain that you can log into, you should be able to log in with one click of the spinner. you shouldn't have to navigate to the login page then click the logo an

[2013-10-15 05:46] apandhi commented on #39
@jessepollak See the problem with posting to the URL is that some sites also attach extra fields to it. Also, how would we fetch the POST data and match it correctly?

But I agree that Clef and Waltz are completely muddled right now. Even to me, Waltz seems like the only real function of clef right now and I often find myself referring to it as Clef.

I don't think that the every day user will ado

[2013-10-15 05:47] jessepollak commented on #35
#waltz is officially the coolest place in town. it's an awesome mix of @josephwegner and I missing each other as we each wish we had more time to do fun things in the giant playground that is waltz.

get on IRC and join us, y'all.

[2013-10-15 05:58] jessepollak commented on #39
If I've learned one thing from @brennenbyrne, it's that there's always a way to do things (sometimes you just have to think a little bit out of the box). I'm going to direct this POST discussion back to #34 though because I think it's more appropriate there.

No worries about being MIA, we're just happy to have your thoughts and ideas :D

[2013-10-15 05:59] jessepollak commented on #39
ps. @zrathustra we miss you :) I smiled at that comment.

for those who don't know, @zrathustra was our intern this summer and we miss him very much.

[2013-10-15 06:03] apandhi commented on #34
If we're doing Defined, then POSTing the data will be no problem. We can create quick templates and store it to a database or a cached file. I suggest we don't keep the main codebase in the chrome extension, though. The update cycles are tedious and it takes about 24 hours for 90% of your users to even get the update (also, this causes issues when moving cross browsers).

I much prefer the defined

[2013-10-15 06:05] iamb55 commented on #39
I've been meaning to chime in for a little bit to contribute my two cents about some of these issues, thanks @josephwegner for spelling a lot of the complexity out! I'm not going to respond exactly in order because my thoughts don't line up exactly, but hopefully this will cover most of my take on the answers.

1) Waltz is a cheat. We built constraints into Clef to make it a clear and simple tool,

[2013-10-15 06:08] jessepollak commented on #34
OK, in terms of the whole POST question.

Yes, it can be tricky to recreate a login request. HOWEVER, we have one really awesome thing working for us. No user is logged in when we're logging in. For all Facebook (or any other site) knows, we could be any old user doing any old thing. And, because there's no authentication session, you can't do protections against CSRF (like CSRF tokens).

For inst

[2013-10-15 06:14] apandhi commented on #34
What we can actually do is when they hit say, facebook, we just run $("input"), run through a foreach, and then just post that data using the username and password we want. This way we don't need to worry about hidden fields and such.

[2013-10-15 06:16] jessepollak commented on #34
That'd work on the login page, but if we are elsewhere on the domain, that becomes trickier...

We could $.get(FACEBOOK_LOGIN_PAGE) and use those, but I'm pretty confident that they don't matter.

We'll have to experiment.

Who knows, maybe we'll find a security vulnerability or something fun :D

[2013-10-15 06:18] jessepollak opened #40 "Switch out the spinning logo"
From the wise @lolux:

"The spinning Clef logo makes me think, "Is it doing something right now?" Usually, things that spin on computers and websites indicate the computer/server is working. The fast spinning that occurs when I'm supposed to insert credentials is a little dizzying."

I agree with this. I think it should be static (and probably Waltz).

[2013-10-15 06:18] jessepollak opened #41 "Work on UI/UX of options"
Again, @lolux:

" I wasn't able to tell what the red and green dots did until I clicked on them to test them. The white thing in the green dot is too small for me to tell what it is."

I think the UX can improve as well, but making them bigger is a good first step.

[2013-10-15 06:20] jessepollak opened #42 "Add functionality to close request credentials dialogue"

[2013-10-15 06:22] ahrussell commented on #39
I agree with much of what @brennenbryne is saying - however I think it's a
little dangerous to distance Clef from Waltz.  It's good in an idealistic
way for all of the reasons that you enumerated, but both Waltz and Clef
could benefit greatly from branding themselves as a new way to log in on
the web.

Also - I had an idea just a second ago.  Once we get the POST login
working, we could have the p

[2013-10-15 06:22] jessepollak opened #43 "Add ability to generate cryptographically strong passwords"
From the wise words of @lolux:

"Unless I'm missing something (and at this point I am ignorant of how Waltz functions both on my computer and between my computer and the Clef server—e.g., are you basically replacing each website's auth process with an oauth process?), a deal-breaking feature (for me) is missing: the ability to generate unique, secure passwords. The sole reason I started using LP i

[2013-10-15 06:24] jessepollak opened #44 "Sometimes you have to press submit twice to get credentials to submit"
Known bug, needs fix.

[2013-10-15 11:16] josephwegner commented on #40
Hah.  Good point.  Not sure how it took this long for that to come up :)

[2013-10-15 11:21] josephwegner commented on #36
Uhh, it doesn't really matter to me.

If you do go to a new server, though, can you document the setup process?  I know there's that tutorial you sent me, but inevitably tutorials are never 100% accurate - I'd like to provide some waltz-specific instructions for people trying to setup their own Cy instance.

[2013-10-15 13:56] josephwegner commented on #39
Well, I think what I'm gathering from this discussion is that we're torn - we pretty equally desire to show off Clef but also don't want the extension to feel like Clef.

I spent a lot of time reading over the thoughts here, and thinking about how to brand Waltz while maintaing those two goals.

I think @brennenbyrne is right - Waltz is too "clefy" right now.  I propose that we drop any sort of di

[2013-10-15 13:57] josephwegner commented on #39
For the record, I did really like the idea of encouraging users to tweet about sites that don't use Clef, directly from the app.  That's a pretty powerful engagement point.

However, I think that contradicts everything I said in the above.  If we're explicitly "selling" Clef from within the extension, it will feel like a Clef app.

Thoughts appreciated.

[2013-10-15 14:02] josephwegner commented on #34
Alright, I fold.  It sounds like we're redefining what the Waltz experience should be, and I agree that it will rely on a more custom always-100%-working approach.

Once we start having custom site definitions, our feature options grow substantially.  I don't really want to talk about that yet, though, because I haven't begun to wrap my head around all of it.

The implementation of defining these

[2013-10-15 14:13] jessepollak commented on #34
That could be cool.
 On Oct 15, 2013 7:02 AM, "Joe Wegner" notifications@github.com wrote:

[2013-10-15 14:13] jessepollak commented on #34
I was also thinking that we could just have it as a YAML or JSON file in
the Waltz github repo...

Jesse Pollak
CPO at Clef
jesse@getclef.com
On Oct 15, 2013 7:02 AM, "Joe Wegner" notifications@github.com wrote:

[2013-10-15 16:59] lolux commented on #39
Wow, this has become a wide-ranging thread! So I feel free to attempt a few
philosophical/big picture thoughts with some practical thoughts mixed in
about the stuff we're kicking around in this thread and some
(tangentially?) related thoughts that have been bouncing around in my head.

If you'll bear with your wannabe-philosopher friend for a minute, I'm going
to make a go at the q/a method to com

[2013-10-15 19:41] apandhi opened #45 "Still able to log in even though I'm logged out with Clef"
I am still able to click the clef icon in the bottom right corner and log in even after I was automatically logged out by Waltz.

It doesn't show the clef wave and ask me to reauth. It just logs me in right away.

[2013-10-15 19:46] landakram commented on #45
Hey Ashish, this looks like an occurrence of a bug I've been tracking down with Clef's Android app, rather than Waltz itself. I released the latest fix for it last night -- have you updated to the latest version?

[2013-10-15 20:24] apandhi commented on #30
Added and made a pull request

[2013-10-15 20:30] apandhi opened #47 "Add log out of all sites in options"
It may be a nice idea to allow the user to be able to log out from their browser also as opposed to just the clef app

[2013-10-15 20:32] josephwegner commented on #47
@jessepollak Security implications of this?  Would it be logging out of Clef, or just out of that current browser's sessions?

[2013-10-15 20:33] jessepollak commented on #47
Take back my seconded. If we log the user out of the browser, it wouldn't _feel_ like they'd been logged out because they'd still be logged into Clef.

Don't think this will work.

[2013-10-15 23:18] apandhi commented on #47
Hm care to elaborate a bit on why it wouldn't feel like they logged out?

Couldn't we just send an HTTP Get request to https://clef.io/api/v1/user/global_logout to log them out?

[2013-10-16 00:33] jessepollak commented on #30
Closing.

[2013-10-16 00:33] #30 closed, assigned to nobody

[2013-10-16 00:34] jessepollak commented on #47
Yes, we could, but that would live the user still logged in on the phone even though their computer session had been terminated.

[2013-10-16 00:36] josephwegner commented on #47
Wahh??  Does that endpoint actually exist?  Does Clef have real API documentation on stuff like that?

[2013-10-16 00:38] jessepollak commented on #47
That API does actually exist, but no, it's no documented.

It's actually a temporary solution we have for letting people who don't get
the "log out on your phone" thing to log out on their computers from
getclef.com.

Sooner or later it will be replaced.

On Tue, Oct 15, 2013 at 5:36 PM, Joe Wegner notifications@github.comwrote:

[2013-10-16 01:20] iamb55 commented on #39
Woo, lots of good stuff to respond to, thanks @lolux. Before I talk about Laurence's post I want to make 3 quick notes about @josephwegner and @zrathustra's comments.

1) When someone logs in with Waltz, they're necessarily going to use the Clef app. They're going to see the Clef Wave. I don't think we have to worry about them "getting" that they're using Clef. I think using the Waltz logo for thi

[2013-10-17 01:03] lolux commented on #39
Well said. There is clarity, vision, hope, and realism in these words.
Surely, the only fitting reply is (wait for it...here it comes...) BOOM!

On the "evangelism" bit, I'll keep doing what I've been doing (i.e., trying
to reach out to the places where I want to use Clef), but I want you to be
quick to tell me if I ever overstep, become annoying, or do something you
guys don't like, etc.

Also, I

[2013-10-17 06:08] apandhi commented on #45
No I haven't! I'll update now and let you know if I still get that error

[2013-10-17 17:36] iamb55 commented on #39
Thanks @lolux, I'd be happy to talk any time!

##

Brennen Byrne
CEO and Co-founder of Clef http://getclef.com
b@getclef.com
(415)-580-2533

On Wed, Oct 16, 2013 at 6:03 PM, lolux notifications@github.com wrote:

[2013-10-18 22:04] josephwegner commented on #39
I've started the rebrand in https://github.com/waltzio/waltz/tree/feature-rebrand

So far:
- Name, icon, description updates
- Options page wording
- Waltz icon in corner widget
- minimalistic (forgettable) login form

[2013-10-18 22:16] josephwegner commented on #40
Done in rebrand branch

[2013-10-18 22:16] #40 closed, assigned to nobody

[2013-10-18 22:17] josephwegner commented on #38
I don't think this is a good idea, now that we're more of an "account manager"

[2013-10-18 22:17] #38 closed, assigned to nobody

[2013-10-18 22:17] josephwegner commented on #37
Cy === Waltz

[2013-10-18 22:17] #37 closed, assigned to nobody

[2013-10-18 22:18] josephwegner commented on #28
Fixed and merged

[2013-10-18 22:18] #28 closed, assigned to nobody

[2013-10-18 22:18] josephwegner commented on #44
Rewrote this code, and this bug seems to be gone in the rebrand branch.

[2013-10-18 22:18] #44 closed, assigned to nobody

[2013-10-19 14:04] josephwegner opened #50 "Delete sites without decrypting"

[2013-10-19 23:18] josephwegner opened #51 "Site Configs and Travis CI"
Hello all (@waltzio/owners),

Waltz is now setup for defined site configs.  You will notice a new folder called site_configs in the repository root, which has some JSON files in it.  The contents of those files are crap at this point, but what they _mean_ is important.  They mean that from now on, new sites can simply be added by creating a new JSON file in that folder.

To do this, Waltz is now u

[2013-10-20 04:36] apandhi commented on #51
Ah this seems awesome. But what are the implications of using raw.github.com? I feel like that would be frowned upon most of the time.

That being said, what are the plans for putting sites and configuring it?

[2013-10-20 05:34] apandhi opened #53 "Move waltz to browser icon instead of appending on every page"
After using waltz for over a week, the major problem with it is that it constantly appends the waltz icon on every site even if I don't want to log into that site.

[2013-10-20 19:09] josephwegner commented on #53
@apandhi The only trouble with moving waltz to the browser icon, is pretty soon Waltz will not be applicable to every page.  We _could_ have it open up the options page if Waltz isn't configured for that page, but we're trying to minimize interaction with the options page.

I'm playing around with ideas for the dismiss button. I think I will enable some to either "dismiss once" or "dismiss for thi

[2013-10-20 19:14] josephwegner commented on #51
@apandhi

I agree, it's not a 100% awesome idea to utilize raw.github.com.  The reasoning behind that is mostly that I don't want to pay to upload those site configs anywhere, and I don't want Clef to host them (for ownership reasons).

I think once we get waltzio.com up and running, I will update Travis to send the configs there.  That way we also don't dirty up the commit history on master.

I d

[2013-10-21 15:32] josephwegner commented on #35
Logs are now up on botbot.me:

https://botbot.me/freenode/waltz/

That also means you can reference github tickets within IRC, using "gh#X" where X is the id of the ticket.

[2013-10-21 17:50] jessepollak commented on #35
Sweet!

On Mon, Oct 21, 2013 at 8:32 AM, Joe Wegner notifications@github.comwrote:

[2013-10-22 20:36] jessepollak commented on #53
I think that this will be partially addressed when we move to the per-site configs. This way, it will only pop up on places where it works.

[2013-10-22 22:05] ahrussell commented on #53
Wouldn't it make sense to have it pop up places where it doesn't work, so
that we can track where people are trying to use it most, and then
prioritize adding those sites?

On Tue, Oct 22, 2013 at 1:36 PM, Jesse Pollak notifications@github.comwrote:

[2013-10-23 02:39] apandhi commented on #51
There are a few things I think we need for site configs along with those.

A callback function to check if the user logged in or if it failed (Can be a string that we eval into javascript)
and a function that runs on page load so we can scrape the form elements we need other than just the username and password.

The callback function seems most important to me right now so we can properly save cre

[2013-10-23 02:59] jessepollak commented on #51
For checking if the user is logged in, we can just look if the authentication cookie is set.

[2013-10-23 18:13] jessepollak commented on #51
We have a defined schema in the site_configs folder as of the latest pull into master, so I'm going to close this for now. It may adapt as we add more sites.

[2013-10-23 18:13] #51 closed, assigned to nobody

[2013-10-23 18:14] jessepollak commented on #45
This seems resolved, closing.

[2013-10-23 18:14] #45 closed, assigned to nobody

[2013-10-23 18:14] jessepollak commented on #34
We went to defined, closing.

[2013-10-23 18:14] #34 closed, assigned to nobody

[2013-10-23 18:15] #35 closed, assigned to nobody

[2013-10-23 18:15] jessepollak commented on #13
This is useless, closing.

[2013-10-23 18:15] #13 closed, assigned to nobody

[2013-10-23 18:16] jessepollak commented on #42
This has been added, but it definitely ain't that clear. Can still use work.

[2013-10-24 17:30] jessepollak opened #57 "Fix logout when no internet"
User should not be logged out when they lose connection.

Should only be logged out when they connect to the internet and authenticationCheck fails.

Should be an option in settings to enable logout on lost internet.

[2013-10-24 17:35] #26 closed, assigned to nobody

[2013-10-24 17:36] #25 closed, assigned to nobody

[2013-10-24 17:37] jessepollak opened #58 "User should be redirected to page they started on"

[2013-10-24 17:44] jessepollak opened #59 "Create website for Waltz"

[2013-10-24 20:18] jessepollak opened #60 "Add additional checks after document.ready to hide Waltz widget"

[2013-10-24 20:19] josephwegner commented on #60
Primarily noticed on GMail.

[2013-10-24 23:24] jessepollak commented on #57
Fixed in #61

[2013-10-24 23:24] #57 closed, assigned to nobody

[2013-10-24 23:24] jessepollak commented on #19
Fixed in #62

[2013-10-24 23:24] #19 closed, assigned to nobody

[2013-10-29 01:27] jessepollak opened #63 "Add way to "alias" domains to another domain"
For instance, we need Youtube and Google to be the same...

[2013-10-29 22:49] jessepollak opened #64 "Switch out way sessions are handled in simple-api"
@josephwegner I wasn't sure whether to put this in here or in the simple-api repo.

We need to switch out the in-memory session handle used by simple-api. Primarily, this is an issue because every time we deploy we lose all of our session data (i.e. every user is logged out of everything).

How should we proceed?

[2013-10-29 22:49] jessepollak commented on #36
Just finished pushing to api.waltz.io with a valid SSL. Merged in changes that set api.waltz.io to the default cy server.

[2013-10-29 22:49] #36 closed, assigned to jessepollak

[2013-10-30 17:47] landakram commented on #18
I merged something for this in https://github.com/waltzio/waltz/pull/65

I still save the credentials, but re-present the modal if the login fails with an error message (using the check config to see if login was successful).

I didn't spend a lot of time styling the alert message.

[2013-10-30 17:47] #18 closed, assigned to landakram

[2013-10-30 18:06] jessepollak opened #66 "Fix first time credential not working error"

[2013-10-30 18:07] jessepollak opened #67 "Investigate blank api URL when Waltz is first started"

[2013-10-30 18:07] jessepollak opened #68 "Fix SSL verify error with Clef logout for api.waltz.io"

[2013-10-30 22:34] #68 closed, assigned to nobody

[2013-10-30 23:00] landakram commented on #67
I'm pretty sure this happened because of the switch from `cydoemus_url` to `cy_url`, and we all upgraded our plugins without deleting them. I haven't been able to reproduce, so I'm closing for now.

[2013-10-30 23:00] #67 closed, assigned to landakram

[2013-10-30 23:21] jessepollak commented on #66
Fixed. Was a bug in waltz/cy where the encryption key was passed back incorrectly the first time it was generated/used.

[2013-10-30 23:24] #66 closed, assigned to nobody

[2013-10-30 23:26] jessepollak commented on #64
NVM, this isn't in simple-api, it's node-session.

[2013-10-31 13:36] josephwegner commented on #68
api.waltz.io gives me a 502.  Is that supposed to happen?

[2013-10-31 15:44] jessepollak commented on #68
No :/ must have crashed and I just realized I haven't given you access to
the new server. I'll fix ASAP.

In other news, we need to make cy auto restart.
On Oct 31, 2013 6:36 AM, "Joe Wegner" notifications@github.com wrote:

[2013-10-31 23:10] jessepollak commented on #64
This is fixed, but deploys are no longer working :/

[2013-11-01 00:45] josephwegner commented on #64
Alright, @jessepollak, I'm digging into the server issues now.  Hopefully I can get us back up by tomorrow.

[2013-11-01 13:05] josephwegner commented on #60
Addressed in #69

[2013-11-01 13:05] #60 closed, assigned to josephwegner

[2013-11-01 13:07] josephwegner commented on #53
Can you guys try out the most recent version of the extension, and see if you still think this is an issue?

I think it's mostly out of scope now that we're using site-specific configs, but I'm open to discussion about it.  Otherwise, I'd like to close this.

[2013-11-01 13:38] #50 closed, assigned to josephwegner

[2013-11-04 05:26] jessepollak commented on #64
Just pushed the latest version of this that works :)

[2013-11-04 05:26] #64 closed, assigned to nobody

[2013-11-04 05:29] jessepollak opened #72 "Decide on standardized key to store credentials under"
Right now, we store credentials under the top level key for the domain. This is the http://_.facebook.com/_ format.

This freaks me out. I can imagine a situation where this would change and then we'd basically kill all of a users saved credentials.

Are we comfortable with sticking with this or should we decide on another standardized key?

Thoughts much appreciated.

[2013-11-04 05:34] jessepollak opened #73 "Submit credentials through form if on login page"
OK, so a couple of times I've had this occur:
1. Try to log in to Google.
2. It won't accept my credentials and takes me to a page to "retype my password"
3. Waltz won't work

I'm not sure why this happens, but I think that we can avoid this by submitting the credentials through the form if we are on the login page. I know this takes away a little bit of the "magic," but it also might make it much

[2013-11-04 14:32] lolux commented on #72
(Ignore this if I'm not understanding what you're asking here . . . this
may not relate to the key question directly.)

In my experience with LP it has been useful in several instances to be able
to define URLs that are synonymous (i.e., that share the same login
credential) both (a) between a TLD and its subdomains and (b) between two
or more different TLDs. LP calls these "equivalent domains" an

[2013-11-04 15:08] jessepollak commented on #72
That's another reason to do this, so we could tie things like youtube.com and google.com together.

[2013-11-04 22:06] jessepollak commented on #72
This is addressed in #74. allows for aliasing like Laurence talks about.

[2013-11-04 22:06] #72 closed, assigned to nobody

[2013-11-04 22:50] jessepollak commented on #63
This was done in #74

[2013-11-04 22:50] #63 closed, assigned to nobody

[2013-11-05 00:48] josephwegner commented on #73
That seems like a fine solution for now, but I'd be more interested in knowing why this happens.

[2013-11-05 00:49] josephwegner commented on #53
I'm closing this, because I don't think it applies anymore.  Feel free to reopen.

[2013-11-05 00:49] #53 closed, assigned to nobody

[2013-11-05 00:49] jessepollak commented on #73
Me too :/

On Mon, Nov 4, 2013 at 4:48 PM, Joe Wegner notifications@github.com wrote:

[2013-11-05 00:50] josephwegner commented on #47
@jessepollak So, is it reasonable to assume that an endpoint like `global_logout` will always exist?  Can we build a feature around that?

Or should we continue this discussion without that endpoint as an option?

[2013-11-05 00:51] josephwegner commented on #42
Doneski.  I see you added an X in the top left, which works perfectly.

[2013-11-05 00:51] #42 closed, assigned to nobody

[2013-11-05 00:51] #39 closed, assigned to nobody

[2013-11-05 00:53] jessepollak commented on #47
No, let's not assume that will always exist.

On Mon, Nov 4, 2013 at 4:50 PM, Joe Wegner notifications@github.com wrote:

[2013-11-05 00:54] josephwegner commented on #20
Docs for the event hook:

http://developer.chrome.com/extensions/management.html#event-onUninstalled

[2013-11-05 01:05] josephwegner commented on #16
Added to context menu.  Finished.

[2013-11-05 01:05] #16 closed, assigned to josephwegner

[2013-11-05 01:20] josephwegner commented on #41
I don't _love_ it, but I've changed the look a little bit in 4f1cdc8e31896da7b678ba433d8957bdbc348530.  Please reopen this and tell me what sucks about it, and I'll make it better.

[2013-11-05 01:20] #41 closed, assigned to josephwegner

[2013-11-05 18:47] josephwegner commented on #17
Seems like we've figured this out, mostly

[2013-11-05 18:47] #17 closed, assigned to nobody

[2013-11-07 19:55] jessepollak opened #77 "Add a message about what you're doing when you put in credentials"

[2013-11-14 01:38] iamb55 opened #79 "Repeated Logout Notifications"
Whenever I wake my computer up from sleep I get about 10 notifications from Waltz telling me that I've been logged out. This happened over the course of several days where I wasn't using Waltz at all in between sessions.

Just now, my Clef timer ran out and I was logged out of Clef. I got between 50-100 logout notifications.

[2013-11-14 02:08] jessepollak commented on #79
This is intended functionality...

;)

will fix.

[2013-11-17 08:02] iamb55 opened #80 "Gmail Waltz Login failed"
When I try to log in with Waltz, it tells me that I've got my password wrong.

[2013-11-17 08:03] iamb55 commented on #80
also, when I typed my password into google, I got logged into my generic google account. Not sure if this happens with waltz, but would be nice if the redirect was based on the URL where I started.

[2013-11-21 19:24] jessepollak commented on #79
This is fixed in cd7eb6cf46c896401581441b2dc45a0166c91eee.

[2013-11-21 19:24] #79 closed, assigned to nobody

[2013-11-21 22:39] jessepollak commented on #77
Closing this as we address the issue in #81

[2013-11-21 22:39] #77 closed, assigned to nobody

[2013-11-21 22:40] jessepollak commented on #80
So, this seems to be something with them adding an additional check into the form through javascript when it is submitted...not shocked about this.

Don't know what to do. Any ideas?

[2013-11-25 23:21] jessepollak opened #83 "Remove edit icon from Waltz action button"

[2013-11-25 23:21] jessepollak opened #84 "Restyle dismiss icon interaction on Waltz button"

[2013-11-25 23:21] jessepollak opened #85 "Add Waltz button to top bar"

[2013-11-25 23:22] jessepollak commented on #85
TODO:
- [x] ask for website by tweeting
- [x] link to options page
- [x] link to sites using page

[2013-11-25 23:25] #21 closed, assigned to nobody

[2013-11-25 23:25] jessepollak commented on #23
@brennenbyrne is going to help out with this.

[2013-11-25 23:26] #29 closed, assigned to nobody

[2013-11-25 23:29] jessepollak commented on #58
On backend, capture the page you are on when login is submitted.

If that page is login page, proceed as normal.

If that page is different than login page, _after POST to login_, redirect on the backend back to the page you started on.

[2013-11-25 23:30] #73 closed, assigned to nobody

[2013-11-25 23:33] jessepollak opened #86 "Auto populate waltz credential fields if they are autofilled by Chrome or the site"

[2013-11-25 23:38] jessepollak opened #87 "Add a 2-factor URL or DOM element check for 2-factor page"

[2013-11-26 19:48] landakram commented on #58
https://github.com/waltzio/waltz/pull/88

[2013-11-26 23:20] landakram commented on #87
I added both in https://github.com/waltzio/waltz/pull/88, but the `check` is never used, since we look at the URL before page load.

@jessepollak I'm guessing you also want to hide the waltz button as well

[2013-11-26 23:20] jessepollak commented on #87
Yes

[2013-11-27 15:31] josephwegner commented on #23
When we get closer to launch I will write this.  It should just take a few minutes, but I'm waiting on it to make sure what I write actually reflects reality, in case the relationship evolves over time.

[2013-12-02 19:47] jessepollak commented on #27
To address this issue, we're going to add two things:

1) The ability to check the time remaining on a given access token (i.e. how much longer a user is logged in).

2) A web hook that triggers when there are 5 minutes remaining in a users session

@landakram and I will handle this on Clef's side sometime in the near future

[2013-12-02 19:51] jessepollak commented on #58
I'm closing this as we have a PR that adds this feature.

[2013-12-02 19:51] #58 closed, assigned to landakram

[2013-12-02 19:51] landakram commented on #47
I think this encourages people to just log out in their browsers, instead of understanding that they can log out from the entire session from their phone.

To that end, I don't think we should implement this—I think it will cause confusion among users who log out on their browser, click the waltz button, and then are concerned that they didn't have to resync with their phone.

[2013-12-02 19:55] #47 closed, assigned to nobody

[2013-12-02 19:58] jessepollak commented on #87
Closing.

[2013-12-02 19:58] #87 closed, assigned to landakram

[2013-12-02 19:58] jessepollak opened #89 "Hide Waltz button on 2-factor page"

[2013-12-02 20:01] landakram commented on #80
After looking at this more, gmail generates a long hash using a script called `botguard`. It would take far too much energy to reverse engineer this script or figure out a way to run it.

It's much easier to just submit the actual login form instead of trying to generate the POST ourselves, so for select sites (like google), I'm just going to hide the waltz icon until the user is on the login page

[2013-12-02 20:01] #80 closed, assigned to nobody

[2013-12-02 20:03] landakram opened #90 "`formOnly` site config variable"
A site-specific config variable should be added to control whether the waltz icon is shown on pages other than the login page. This will fix certain issues with Google logins where js is generating an input on the page, and allow Waltz to work on other sites like iTunesConnect (specific example, I know).

[2013-12-02 20:04] jessepollak commented on #86
This should be easy, just set the value to the value of those fields.

[2013-12-02 20:09] landakram opened #91 "`errorPages` optional site config"
`errorPages` should specify possible error pages after an unsuccessful login. Waltz will not try to redirect when landing on an error page.

[2013-12-02 20:10] jessepollak opened #92 "Introduction slides with "what" "how" "where""

[2013-12-02 20:15] jessepollak opened #93 "Users should be able to permanently dismiss icon from pages"

[2013-12-02 20:16] jessepollak opened #94 "Settings page should be restyled"

[2013-12-03 00:22] landakram commented on #89
This is already handled because the Waltz checks whether the user is transitioning from the login page. If the user is not still on a login page (i.e. there has been no error), then waltz will not display its icon. Since the logged in check never fires, however, Waltz also does not acknowledge the login, which is the desired behaviour.

[2013-12-03 04:25] jessepollak commented on #86
Working on this one now!

[2013-12-03 04:44] #86 closed, assigned to jessepollak

[2013-12-03 18:45] landakram opened #96 "Preload the waltz iframe, but not the clef iframe"
This prevents a bug:
1. Log in to waltz on a site
2. Log out of the site using a standard site logout
3. Log out of Clef
4. Click the waltz icon
Result: A blank iFrame is displayed which covers the page

This will also stop a socket opening whenever any page that uses waltz is loaded, since the Clef iFrame is preloaded and opens a socket.

[2013-12-03 19:34] landakram commented on #24
Looks like this was a bug in Clef and not Waltz. Just pushed a fix for it on our end. Thanks for checking it out!

[2013-12-03 19:34] #24 closed, assigned to landakram

[2013-12-03 19:34] jessepollak commented on #24
:thumbsup:

On Tue, Dec 3, 2013 at 11:34 AM, Mark Hudnall notifications@github.comwrote:

[2013-12-03 22:45] #89 closed, assigned to landakram

[2013-12-03 23:48] landakram commented on #96
https://github.com/waltzio/waltz/pull/97

[2013-12-03 23:48] #96 closed, assigned to landakram

[2013-12-03 23:48] landakram commented on #90
https://github.com/waltzio/waltz/pull/95

[2013-12-03 23:48] #90 closed, assigned to landakram

[2013-12-04 01:02] jessepollak opened #98 "Add message prompting user to log out if they are logged in at start of tutorial"

[2013-12-04 01:18] landakram opened #99 "Clef overlay never appears"
Steps to reproduce:
1. Delete Waltz and start from a fresh install, logged out of Clef, cookies cleared
2. Go to facebook.com
3. Click the Waltz icon

Result:
Clef overlay never appears and there is an error in the console:

[code]

This seems to only happen when I have just cleared my cookies, cache, and saved data.

[2013-12-04 01:41] jessepollak opened #100 "Add message if 3rd party cookies are disabled"

[2013-12-04 03:36] jessepollak commented on #99
Fixed in waltzio/cy@664e5caf690b71ce98f2dee840f445812f32ed96.

[2013-12-04 03:36] #99 closed, assigned to nobody

[2013-12-04 04:36] jessepollak commented on #98
Completed in 5dd1af66c626934c710ccef0c23927ed520b05de

[2013-12-04 04:36] #98 closed, assigned to jessepollak

[2013-12-04 17:49] jessepollak opened #101 "Issue with Twitter redirect"
1. Log in to Twitter.
2. Log out of Twitter and you should be on this page: https://about.twitter.com/download?logged_out=1
3. Log in and you're redirected to that page (bad?)
4. You can't go anywhere else on the site without being redirected back.

[2013-12-04 19:19] jessepollak opened #102 "Issue with HelpScout redirect"
Log in with HelpScout and you get stuck in an infinite loop

[2013-12-04 19:24] landakram opened #103 "Add Amazon.com as supported site"

[2013-12-04 21:53] jessepollak commented on #85
Added these links now we just need to style them.

[2013-12-05 18:02] landakram commented on #91
Implemented in https://github.com/waltzio/waltz/pull/106 as `login.exclude.forcedRedirectURLs`

[2013-12-05 18:31] landakram opened #107 "Deal with other TLDs"
We don't currently support TLDs like `co.uk`, which means we're excluding a lot of non-US users for sites like http://amazon.co.uk and http://google.co.uk.

[2013-12-05 19:54] #101 closed, assigned to landakram

[2013-12-05 19:57] #102 closed, assigned to landakram

[2013-12-05 19:59] #91 closed, assigned to landakram

[2013-12-05 20:38] #103 closed, assigned to landakram

[2013-12-05 23:27] landakram opened #109 "namespace Waltz things"
Waltz objects like `Waltz` and `Storage` are available at the top level of a page. `Storage` seems like a pretty common name—we don't want to overwrite anything that the page defines.

[2013-12-05 23:29] #109 closed, assigned to nobody

[2013-12-05 23:30] landakram commented on #109
Woops, this isn't true.

[2013-12-06 02:10] landakram opened #110 "clicking the waltz icon multiple times opens up multiple modals"

[2013-12-06 19:29] landakram opened #111 "Add wellsfargo as a supported site"

[2013-12-06 22:33] landakram commented on #110
https://github.com/waltzio/waltz/commit/646aeb4cad78abfa9c975a419b134e1976bf79ab

[2013-12-06 22:33] #110 closed, assigned to landakram

[2013-12-06 23:34] #111 closed, assigned to landakram

[2013-12-08 02:42] jessepollak opened #114 "Invalid credentials is broken on Hacker News"
1. Go to Hacker News home page
2. Type in bad credentials and submit
3. Taken back to hacker news home page and no invalid credentials page is displayed

[2013-12-08 20:10] landakram commented on #114
Fixed for HN with https://github.com/waltzio/waltz/commit/eb640cab63da711eebebda4c07562f2555d4e718, but this is caused by the general issue that the wrong credentials form is displayed only if the login form is detected on the page. Since an improper login on HN results in a natural redirect to `/x`, which is not the login page, `/newslogin`, Waltz will force a redirect back to `/` and then will n

[2013-12-08 20:10] #114 closed, assigned to landakram

[2013-12-09 04:23] jessepollak opened #115 "Change greying out to something more positive for site completion"

[2013-12-09 04:23] jessepollak opened #116 "Figure out why greying out is broken"

[2013-12-09 06:09] jessepollak opened #117 "Add some more sites"
- [x] netflix
- [ ] hbo go
- [ ] hulu
- [ ] comcast

[2013-12-09 19:04] iamb55 commented on #117
- [x] Dropbox
- [ ] PRWeb

[2013-12-10 01:59] jessepollak commented on #116
Fixed in 4bc654ce8a0105f3554bb3ef5de6d3e83db8d65d

[2013-12-10 01:59] #116 closed, assigned to jessepollak

[2013-12-10 01:59] jessepollak commented on #100
Closed in 67fc37701ac50252488ea083d54e222627302bb6

[2013-12-10 01:59] #100 closed, assigned to landakram

[2013-12-10 01:59] jessepollak commented on #92
Finished.

[2013-12-10 01:59] #92 closed, assigned to jessepollak

[2013-12-10 02:00] jessepollak commented on #93
Closing this because we have an open PR at #118

[2013-12-10 02:00] #93 closed, assigned to landakram

[2013-12-10 02:00] jessepollak commented on #59
I'm closing this general issue, we can add more specific bugs — I know @josephwegner has some suggestions which I can copy over from his email.

[2013-12-10 02:00] #59 closed, assigned to jessepollak

[2013-12-10 19:55] jessepollak opened #120 "HN is broken because register and login forms are the same :("
@landakram fix please

[2013-12-10 20:36] jessepollak commented on #115
Close in 49ebfa9

[2013-12-10 20:36] #115 closed, assigned to jessepollak

[2013-12-10 20:37] jessepollak commented on #83
Completed.

[2013-12-10 20:37] #83 closed, assigned to jessepollak

[2013-12-10 22:43] jessepollak commented on #85
Done.

[2013-12-10 22:43] #85 closed, assigned to jessepollak

[2013-12-10 22:44] jessepollak opened #121 "Fill in comparison chart for website"
perhaps @brennenbyrne can help with this.

[2013-12-10 22:49] landakram opened #122 "Users should be able to undo hiding waltz permanently from settings page"

[2013-12-10 23:16] #84 closed, assigned to jessepollak

[2013-12-11 02:00] #120 closed, assigned to nobody

[2013-12-11 16:13] josephwegner opened #125 "Analytics"
We will be using Keen for analytics.  The great thing about Keen is that we can choose exactly what we do or do not want to track.

It's important to consider user privacy when we're choosing which events to track, especially with this sort of extension.

Events I think we should track:
- First install
- Browser open (extension initialization)
- Waltz widget shown
- Waltz widget dismissed (show si

[2013-12-11 16:16] jessepollak commented on #125
We can definitely track uninstall (we should also do a few other things in there).

Question — do we want to associate a UUID with these events or no?

[2013-12-11 16:20] jessepollak commented on #94
I'm going to close this for now. I feel reasonably decent about the point it's at.

[2013-12-11 16:20] #94 closed, assigned to nobody

[2013-12-11 16:21] jessepollak opened #126 "Reconfigure tutorial appearance options"
When should the tutorial tooltips appear for a site? Only if you click through?

Need to change this so it doesn't show up every time.

[2013-12-11 16:22] josephwegner commented on #125
Right, I meant to ask that.

Personally, I think a UUID is fine.  As long as we don't include any other user information, there's no way to track the UUID back to an actual person.  But, it'd be nice to see "X number of users have dismissed Waltz 500 times.  All of them are running Chrome Canary".

[2013-12-11 21:04] josephwegner opened #127 "Add "Powered By KeenIO" to getwaltz.com"
Keen will give us a break on pricing if we mention them somewhere on the website.  I think this is well worth it, because we're almost certainly going to break the 50,000 event threshold.

[2013-12-11 21:04] josephwegner commented on #127
I will check with Keen to see if they have any image assets they usually like to use for this kind of thing...

[2013-12-11 22:44] jessepollak opened #128 "Remove iframe when you close the iframe on settings login page"

[2013-12-11 23:29] jessepollak commented on #122
Fixed in 3f9ae78434a14abcf08a3a6b268b8b5df5173772

[2013-12-11 23:29] #122 closed, assigned to nobody

[2013-12-11 23:38] #128 closed, assigned to nobody

[2013-12-12 00:22] jessepollak commented on #126
OK, I talked to @brennenbyrne and he likes the way the tutorial is configured right now.

Right now, the tutorial works this way:
- If you click from the tutorial page, it always shows
- If you haven't dismissed it by clicking the X in the top left:
  - On a new site, until you log in, it will show

@landakram @josephwegner thoughts?

[2013-12-12 18:46] jessepollak commented on #121
Done.

[2013-12-12 18:46] #121 closed, assigned to nobody

[2013-12-12 18:47] jessepollak opened #129 "Get quote for Waltz"
@brennenbyrne, can you handle this?

[2013-12-12 19:27] jessepollak opened #130 "Add name of site to request a site shares"

[2013-12-12 19:28] jessepollak commented on #130
http://stackoverflow.com/questions/4782068/can-i-set-subject-content-of-email-with-using-mailto

[2013-12-12 22:19] josephwegner commented on #125
Well, I guess I got them all :)
- [x] First install
- [x] Browser open (extension initialization)
- [x] Waltz widget shown
- [x] Waltz widget dismissed (show site user is on)
- [x] Waltz widget clicked (show site user is on.  that might be a privacy issue, though)
- [x] credentials form dismissed
- [x] auth with Cy required (clef wave shown)
- [ ] clef wave dismissed without scanning
- [x] logout

[2013-12-12 23:12] jessepollak opened #132 "Make chrome pull updates for configs for sites"

[2013-12-13 05:29] jessepollak opened #133 "Waltz fails on registration with Clef"

[2013-12-13 05:34] jessepollak opened #134 "Tutorial modal doesn't show up when log out after first time"
Faye reported this, need to reliably replicate to fix.

[2013-12-13 05:34] jessepollak opened #135 "Clef tutorial doesn't not make logical sense with the Waltz tutorial"
Needs a fixin'

[2013-12-13 14:53] josephwegner opened #136 "Sharing with Facebook doesn't really work"
On the sites list after the tutorial, there's this giant "share that feeling with your friends on facebook".

When I click it, I get a facebook popup with an error message saying "An error occurred.  Please try again later."

[2013-12-13 14:54] josephwegner opened #137 "Write sharing messages for FB and Twitter"
After creating a site through the tutorial, you get the option to share on twitter.  The message you're defaulted to is

"I just setup @getwaltz on Twitter - getting rid of more passwords!".  I don't really think that's a grammatical sentence.

It would probably make more sense to do "I just setup @getwaltz on Twitter - it feels great to be getting rid of passwords!"

[2013-12-13 15:02] jessepollak commented on #137
lol, placeholder got shipped!

[2013-12-13 15:02] jessepollak commented on #137
We're still writing all the sharing messages.

[2013-12-13 15:03] jessepollak commented on #136
This is because of Facebook sandbox mode, thanks for the heads up thought. I'll leave this open till we switch it out of sandbox mode.

[2013-12-13 15:03] josephwegner commented on #132
Doesn't it already pull updates when the browser loads?

Or, are you hoping it would pull updates periodically during a browser session?

[2013-12-13 15:04] jessepollak commented on #132
Hmmm, yeah it does pull when browser loads.

It would be nice to pull every ~15 minutes and/or have a button to refresh
configs.

On Fri, Dec 13, 2013 at 7:03 AM, Joe Wegner notifications@github.comwrote:

[2013-12-13 15:04] jessepollak opened #138 "Have production versioned site configs file"
Yesterday, when I deployed, I messed up the installs of all the old users because we changed a bunch of things about the config file.

It would be nice if we could have versioned config files. Not sure how we'd want to do this though.

[2013-12-13 15:05] josephwegner commented on #126
I guess I don't mind terribly if the tutorial shows up every time you go to a site, as long as you have the option of permanently dismissing it.

However, I do still have issue with the waltz button being moved to the top right instead of the bottom right of the browser.  I think we're going to be annoying users with that placement, especially if the tutorial is opening all the time.

[2013-12-13 15:07] jessepollak commented on #126
OK, I'm going to close this. Can you re open a new issue to discuss that?

On Fri, Dec 13, 2013 at 7:05 AM, Joe Wegner notifications@github.comwrote:

[2013-12-13 15:07] #126 closed, assigned to nobody

[2013-12-13 15:09] josephwegner commented on #138
@jessepollak So the issue was people pulling new site configs without the extension being updated?

I guess that is a fairly big problem.  If we're going to do versioned files, we will need to host them somewhere.  api.waltz.io?  getwaltz.com?  wegnerdesign.com?  s3?

Or, I guess we could have Travis just create versioned config files, and keep all of them in the repo forever.

The upside of using

[2013-12-13 15:12] josephwegner opened #139 "Waltz Button Position"
The positioning of the Waltz widget was recently changed, moving it to the top right of the window.  It used to be in the bottom right.

I'm pretty heavily in favor of reverting back to the bottom right position.  Almost all sites have navigation in a header, and often times user/account/session settings are positioned to the right side of that header.  If the waltz button is coming up in the top

[2013-12-13 15:19] josephwegner opened #140 "Add separators to sites/options page"
It's not a huge issue, but it takes an unnecessary amount of visual work to associate which sitename/username combo matches up with the correct decrypt/forget buttons.

I just tested out putting border-bottom: 1px solid #f3f3f3 on the <li>s, and it looks pretty good.  It's a light enough color that it doesn't draw from the design, but it does give some visual hints to the user.

[2013-12-13 15:25] josephwegner opened #141 "Initial Tutorial Message"
Current copy:

I get the gist, but I'm not sure that the user will.  They're actually pretty much 0% of the way there at this point, because they haven't added any sites :)

This is rough, but what about something like:

(I'm unsure about the "Congratulations!", but I feel like we need something up there.)

[2013-12-13 15:26] jessepollak commented on #141
@brennenbyrne will have thoughts on this, he's running copy control.

[2013-12-13 15:26] jessepollak commented on #140
Cool, I can get on this.

[2013-12-13 15:36] josephwegner opened #142 "Incorrect Previous Slide in Tutorial"
If you choose "I have the app" and then press "previous slide", it takes you to the "text me a link" slide.

[2013-12-13 15:49] josephwegner opened #143 "Grey out Sites I've Already Setup in the Tutorial"
Right now, the tutorial suggests Twitter, Facebook, and Github.

If I run through the tutorial, setup Github, and then try to run through the tutorial again, Github is still an option.  What's worse, if I click on Github, the tutorial starts on that page.  It fixes itself once I click on the Waltz icon and get logged in, but it shouldn't behave like that either way.

I like how we're greying out a

[2013-12-13 15:51] josephwegner opened #144 "White Tutorial Overlay Doesn't Disappear when Dismissing Waltz"
It disappears if you actually close the tutorial window, but if you use the dismiss button, the white overlay stays.

[2013-12-13 16:59] jessepollak opened #145 "Cy URL not being set"
"Refused to display 'https://www.facebook.com/undefined/v1/login' in a frame because it set 'X-Frame-Options' to 'DENY'."

[2013-12-13 17:17] jessepollak commented on #142
Yeah...known bug, we'll see if I want to fix it or not.

On Fri, Dec 13, 2013 at 7:36 AM, Joe Wegner notifications@github.comwrote:

[2013-12-13 17:17] jessepollak commented on #144
Mmmm. Will fix.

On Fri, Dec 13, 2013 at 7:51 AM, Joe Wegner notifications@github.comwrote:

[2013-12-13 17:39] #145 closed, assigned to jessepollak

[2013-12-13 17:44] #144 closed, assigned to nobody

[2013-12-13 18:00] josephwegner opened #146 "Waltz Server Base URL doesn't Refresh after Saving"
It seems like, even after hitting the save button on the settings page, the new Cy URL doesn't work.  You have to restart your browser or refresh the extension to get it to take.

[2013-12-13 18:01] jessepollak commented on #146
Ah its probably getting saved but not refreshed in settings. Will fix.

Jesse Pollak
CPO at Clef
jesse@getclef.com
On Dec 13, 2013 10:00 AM, "Joe Wegner" notifications@github.com wrote:

[2013-12-13 18:02] josephwegner opened #147 "Weird Signup Issue"
From my bro:

[2013-12-13 18:09] jessepollak commented on #147
Can he check console, please?

[2013-12-13 18:26] #146 closed, assigned to nobody

[2013-12-13 18:26] jessepollak commented on #146
Super pleased with the solution on this one.

[2013-12-13 18:29] #140 closed, assigned to jessepollak

[2013-12-13 18:30] jessepollak commented on #133
From my Joe's brother:

ok after i signed w/ clef for FB it said "Waltz is asking that you sign up with clef" and i hit the button to do that and everything just disappeared...i'm just left on the FB login page

[2013-12-13 18:31] jessepollak commented on #147
This is the same as #133, let's continue the discussion there.

[2013-12-13 18:31] #147 closed, assigned to nobody

[2013-12-13 18:31] jessepollak commented on #139
@brennenbyrne, comment please!

[2013-12-13 18:44] iamb55 commented on #139
This is something that Jesse and I have been talking about a bunch. Here's what happened that sparked the change:

I was setting up Waltz on my computer (with a new release and testing out the tutorial). I got the plugin downloaded, and clicked that I wanted to set it up on Facebook first. I got to facebook, typed my username and password in the normal field, and logged in. Surprised that I had ac

[2013-12-13 18:47] iamb55 commented on #141
I get the change here, and see the problem with the original, but do think that the 90-10 split helps people feel less daunted about a tutorial and setup (they do have to go through a few steps to get Waltz working, including downloading the Clef app). Perhaps something more along the lines of:

"Welcome!
By installing Waltz, you're almost free of your passwords.
You've already done 90% of the wor

[2013-12-13 18:48] josephwegner commented on #141
Love that, Brennen.  Let's do it.

—
Joe Wegner
joe@cultivatestudios.com
(630) 297-7563

Sent from Mailbox for iPad

On Fri, Dec 13, 2013 at 12:47 PM, Brennen Byrne notifications@github.com
wrote:

[2013-12-13 19:02] #141 closed, assigned to nobody

[2013-12-13 19:21] #142 closed, assigned to nobody

[2013-12-13 19:22] iamb55 commented on #117
- [ ] New York Times
- [ ] Wall Street Journal

[2013-12-13 19:53] jessepollak commented on #135
Fixed in a8a5066

[2013-12-13 19:53] #135 closed, assigned to jessepollak

[2013-12-13 19:58] #129 closed, assigned to nobody

[2013-12-13 21:41] josephwegner commented on #139
Those are valid reasons.  I have a pretty large monitor and haven't had that problem, but missing it 10 out of 10 times is a pretty serious data point :)

I would be interested in doing option 1, though I'm wondering if the button might look like it's oddly floating at that 600px mark.

If it looks gross, I guess we can keep it in the top right and see what the user reaction is.  It's possible I'm

[2013-12-13 21:48] josephwegner opened #148 "Tutorial Slides are too Tall"
I think they got taller when we added the new copy to the first slide.  I'm on a 13" MBP, and I can just barely see the next step button.

I can scroll down (though it's not obvious), but the background color on the page doesn't stretch that far so it looks lame.

I would like to say that this isn't a huge issue, but I think that 13" MBPs are pretty common.  They're the poor man's apple :)

[2013-12-13 21:52] josephwegner commented on #143
When you click on a greyed out site, the tutorial still starts on that page.  I think it even logs you out, which is kinda lame.

Consider this low priority, cause it doesn't delete data and I don't really understand why a user would do this in the first place..  But, a ticket nonetheless.

[2013-12-13 21:56] josephwegner opened #149 "When logging in on one tab, the waltz widget stays up on other tabs"
This just happened to me on Github.  I think a lot of sites autorefresh, but we can't count on that.  It becomes a problem if the user clicks the widget on the other tab when they're already logged in - Github gave me an error page.

I believe we have all the tools we need to hide the waltz widget on all tabs with a certain domain.  It shouldn't be hard to hook the login process and executeScript

[2013-12-13 22:52] jessepollak commented on #149
This can be done.

[2013-12-13 22:53] jessepollak commented on #148
This needs a fix.

[2013-12-13 22:53] jessepollak commented on #148
Shrinking the font size a bit should do the trick. I'll get to it.

[2013-12-13 22:54] jessepollak commented on #143
Bah yeah.

[2013-12-13 22:54] jessepollak commented on #143
Whoops, didn't mean to reclose that.

[2013-12-13 22:54] jessepollak commented on #125
Is this up on a branch somewhere. I'd like to check it out etc.

[2013-12-13 23:06] josephwegner commented on #125
I may not have pushed the branch.  I will when I get home.
On Dec 13, 2013 4:54 PM, "Jesse Pollak" notifications@github.com wrote:

[2013-12-13 23:34] jessepollak commented on #125
cool thanks

On Fri, Dec 13, 2013 at 3:06 PM, Joe Wegner notifications@github.comwrote:

[2013-12-13 23:56] iamb55 commented on #117
- [ ] icloud

[2013-12-13 23:56] iamb55 opened #150 "Logged out of Waltz, still logged in to Gmail"
A bunch of time elapsed, I'm not sure of the details, but I'll submit them if I figure anything out.

[2013-12-13 23:57] iamb55 opened #151 "Helpscout login error"
When I tried to log in to Helpscout, I was taken to an error registration page (like, that email has already been used)

[2013-12-13 23:58] jessepollak commented on #151
Can you build your configs and get the latest version, this should be
reserved.

On Fri, Dec 13, 2013 at 3:57 PM, Brennen Byrne notifications@github.comwrote:

[2013-12-14 02:04] #125 closed, assigned to josephwegner

[2013-12-14 23:28] jessepollak opened #153 "Fix font import error because of chrome security restrictions"

[2013-12-15 00:08] jessepollak commented on #153
Nevermind, this was an issue that Github has separate from Waltz.

[2013-12-15 00:08] #153 closed, assigned to nobody

[2013-12-15 00:09] jessepollak commented on #151
I'm pretty sure that this issue is resolved, so I'm closing it. When you test with rebuilt configs, if it fails, please reopen.

[2013-12-15 00:09] #151 closed, assigned to nobody

[2013-12-15 00:19] #148 closed, assigned to nobody

[2013-12-15 00:36] jessepollak commented on #149
OK, I just pushed e185527a4c48a6bcacd066c9884275dd229374d1, which refreshes tabs that share the same domain as the tab that is being logged in to.

This isn't perfect, but it's a good solution for now.

[2013-12-15 00:36] #149 closed, assigned to nobody

[2013-12-15 04:06] iamb55 commented on #150
Waltz wasn't logging me out so I just did this:

Logged out of Facebook
Logged out of Gmail
Logged into Facebook with Waltz
Logged into Gmail with Waltz
Logged out of Clef
Both Gmail and Facebook refreshed
I was still logged into both

I am up to date with the most recent Waltz and my configs were just rebuilt

[2013-12-16 03:00] jessepollak commented on #150
Closing for now, please reopen and grab me if this reoccurs.

[2013-12-16 03:00] #150 closed, assigned to nobody

[2013-12-16 03:03] jessepollak commented on #136
Took it out of Sandbox mode, should work now.

[2013-12-16 03:03] #136 closed, assigned to nobody

[2013-12-16 03:17] jessepollak commented on #130
Done!

[2013-12-16 03:18] #130 closed, assigned to jessepollak

[2013-12-16 04:11] #139 closed, assigned to nobody

[2013-12-16 04:11] #143 closed, assigned to nobody

[2013-12-16 04:12] jessepollak commented on #139
Let's try it at 50% height for a little bit and see how we feel.

[2013-12-16 06:18] iamb55 opened #154 "Twitter Ads Weirdness"
Because Twitter makes you re-sign in to ads.twitter.com with the same account information, but posting to a different URL, Waltz doesn't work. Instead it sends you back to the normal Twitter home page.

[2013-12-16 13:38] josephwegner commented on #154
@jessepollak, are the match URLs reg exp?, or some weird subset?  We may be
able to specifically not match ads.twitter.com, and just add it as another
site.
On Dec 16, 2013 12:18 AM, "Brennen Byrne" notifications@github.com wrote:

[2013-12-16 17:35] iamb55 commented on #117
- [ ] The Economist
- [ ] Open Table
- [ ] Adobe (maybe we should focus on recent breaches and do Evernote, etc. too?)
- [ ] United Airlines (other airlines / portals?)

[2013-12-16 18:51] jessepollak opened #155 "Brennen not logged out when timer went off"
possible causes:

pubnub connection bad.

noticeable things:

there's no login key and no logged in sites in storage

[2013-12-18 01:44] jessepollak commented on #155
I fixed some things that may have caused this, but I'm not sure if it actually did.

[2013-12-18 04:44] josephwegner opened #156 "URL in waiting.html Links to #"
It links to # right now, but should probably link to my invite page.. Or don't make it a link, if that's not a good idea.

Other sites have used a read-only text input for this sort of thing, so that a select all + copy is easy and familiar.

[2013-12-18 04:47] josephwegner opened #157 "Link in twitter message has a exclamation point on the end"
Put a space here.. I can't say for certain, but I believe twitter will include the exclamation point as part of the link if there is no space.

[2013-12-18 04:47] josephwegner opened #158 "Twitter message is one character too long"

[2013-12-18 04:47] josephwegner opened #159 "Twitter message says 8000 people are in line"
Perhaps you've got some default data that is saying that, but I'm assuming it was just filler text

[2013-12-18 04:51] josephwegner opened #160 "GoDot: Facebook Share Error"
**Given URL is not allowed by the Application configuration.**
One or more of the given URLs is not allowed by the App's settings. It must match the Website URL or Canvas URL, or the domain must be a subdomain of one of the App's domains.

[2013-12-18 04:55] josephwegner opened #161 "GoDot: Set message on email to contain link"
http://www.angelfire.com/dc/html-webmaster/mailto.htm

[2013-12-18 05:00] josephwegner opened #162 "GoDot: Email is not validated on waitlist page"
Not a huge issue.. but.. ya know.

[2013-12-18 05:02] josephwegner opened #163 "Waitlist Start Icon is not Noticeable"
I definitely would not have noticed that unless I was looking around for it..

Chrome has a notifications API that works similar to growl... Let's shoot one of those out in addition to the flashing start icon.

[2013-12-18 05:03] josephwegner opened #164 "Waiting.html still thinks my icon is flashing"
Either change the copy if the user has started the tutorial, or don't mention that the icon is flashing.

[2013-12-18 05:04] josephwegner opened #165 "Waiting.html should just link me to the tutorial"
This only applies if the user has been approved on the waitlist.

You've got that whole page to do something interesting..  Gimme a big 'ol click target that will take me to the tutorial, instead of making me try and hit that flashing icon.

[2013-12-18 05:07] josephwegner opened #166 "GoDot: Current Position flashed 1000"
I can't recreate the issue, but at one point I saw the Current Position number on waitlist.html show 1000 and then flash to 1.

That probably means the text defaults to 1000 until GoDot responds - can you just default it to blank?

[2013-12-18 05:13] josephwegner opened #167 "GoDot: Position 1000 if GoDot server is down"
If we can't talk to the GoDot server, we should just let users through.

If someone is determined enough to trick Waltz into losing the GoDot server, they deserve to use the extension.

It would be a real problem if GoDot crashed and all of a sudden we couldn't get any users into Waltz.

[2013-12-18 06:01] #159 closed, assigned to nobody

[2013-12-18 06:24] #156 closed, assigned to nobody

[2013-12-18 06:28] #157 closed, assigned to nobody

[2013-12-18 06:56] #165 closed, assigned to nobody

[2013-12-18 06:56] jessepollak commented on #163
By accident, whoops. Still opening.

[2013-12-18 06:57] jessepollak commented on #164
Fixed in 2819793

[2013-12-18 06:57] #164 closed, assigned to nobody

[2013-12-18 07:00] jessepollak commented on #163
Add a chrome notification here.

[2013-12-18 07:29] #167 closed, assigned to nobody

[2013-12-18 07:38] jessepollak opened #170 "forgetting credentials no longer works"
boo

[2013-12-18 07:40] landakram commented on #170
That's because `_.merge` doesn't handle deleted keys. We need to use the
`remove` function here.

On Tue, Dec 17, 2013 at 11:38 PM, Jesse Pollak notifications@github.comwrote:

[2013-12-18 08:07] #163 closed, assigned to landakram

[2013-12-18 08:16] #137 closed, assigned to nobody

[2013-12-18 08:56] landakram commented on #170
https://github.com/waltzio/waltz/commit/246638219617d96bf911dea824f9eea366f521e7

[2013-12-18 08:56] #170 closed, assigned to nobody

[2013-12-18 08:58] #166 closed, assigned to nobody

[2013-12-18 09:09] landakram commented on #162
https://github.com/waltzio/waltz/commit/3de914bdf51225b4be424438f64f3d250366ea56

[2013-12-18 09:09] #162 closed, assigned to nobody

[2013-12-18 09:16] #161 closed, assigned to nobody

[2013-12-18 09:16] jessepollak commented on #161
http://getwaltz.com/?startwt=true

[2013-12-18 10:10] jessepollak commented on #160
This is fixed.

[2013-12-18 10:10] #160 closed, assigned to nobody

[2013-12-18 16:57] #127 closed, assigned to jessepollak

[2013-12-18 19:30] paultran47 opened #172 "Request (If Possible) to Add Waltz & Clef Compatibility to Tech & News Site, The Verge"
I know very little of coding, but if anyone possibly could, to add Waltz and Clef compatibility to signing into The Verge, or http://www.theverge.com, would be absolutely wonderful! :)

[2013-12-18 21:13] josephwegner opened #173 "Browser Action Page Not Found"
Ruh roh..  still looking into this one, but in case anyone has better ideas..

![screen shot 2013-12-18 at 3 12 23 pm](https://f.cloud.github.com/assets/657707/1777677/33211b6a-6829-11e3-9c6b-438bc3d5e88d.png)

[2013-12-18 21:15] josephwegner commented on #172
Hi @TranLePhu,

We'll add TheVerge onto our list of sites to setup in Waltz.  Thanks for the feedback!

[2013-12-18 21:15] jessepollak commented on #173
This is a weird one.

[2013-12-18 21:15] josephwegner commented on #173
I'm an idiot, I had gh-pages checked out.

Can we do some analytics on how many issues I close with "I'm an idiot" in the comment?

[2013-12-18 21:15] #173 closed, assigned to nobody

[2013-12-18 21:49] jessepollak opened #174 "Stuck in currentLogin loop if exit during 2factor auth"
1. Log in
2. Hit two factor screen.
3. Jump out of log in process and go back to login page.

error

[2013-12-19 00:48] jessepollak commented on #117
utdol.com
nytimes.com
bankofthewest.com
ally.com
kp.org
mozy.com
ceridian.com
cigna.com
yelp.com
bankofamerica.com
amion.com

[2013-12-19 00:51] jessepollak commented on #117
imgur.com

[2013-12-19 04:12] josephwegner opened #175 "Find a good way to keep track of which users requested which sites"
It would be nice to send a tweet/email/wuphf to people when we finish a site that they requested.

Can anyone think of a good tool for this?  Or just a google sheet?

[2013-12-19 08:12] paultran47 commented on #175
So failing to get off the most basic of paths, I decided to create a Google Drive Spreadsheet of all the websites that have been requested that Clef and Waltz be integrated into them; similar to that of an assembly line, I've split the spreadsheet into 4 categories (left to right): New Website Requests, Approved Website Requests, Website Requests Currently Worked On, and Completed Website Requests

[2013-12-19 12:11] josephwegner commented on #175
@TranLePhu This is _awesome_!  Thanks so much for putting that together!

I'm gonna give it a few hours to see if any of the other team members have opinions, but then - if you don't mind - I'll throw that link into the README.

Thanks so much for putting that together - I really appreciate the time contribution.

[2013-12-19 21:14] jessepollak commented on #175
I like this, I have a ton of requests to add from the people emailing Clef. will get to it later today, I hope.

[2013-12-19 21:29] jessepollak commented on #175
The one thing is that it doesn't really provide a good way for us to keep track of which users want what sites (and not expose their email addresses or something like that).

[2013-12-19 21:36] jessepollak opened #176 "Fix spelling error in 3rd party cookies"

[2013-12-19 21:39] #176 closed, assigned to nobody

[2013-12-19 21:40] paultran47 commented on #175
Would you prefer to specifically know the website-desires of individual users, or something like a poll where users can choose/rank what sites they want integration the most? If the latter, I could try to somehow make an interactive, changing graph that responds to some sort of poll within the spreadsheet, or instead make another document that can somehow do this. The main thing, though, is if you

[2013-12-19 23:34] jessepollak commented on #175
I think both stats are useful: which users want which sites and how many users want each site.

[2013-12-20 02:12] josephwegner commented on #175
Personally, I'm more interested in keeping track of who asked for what sites to be added.  I think being able to notify people when a site added both adds a wonderfully personal touch and increases the likelihood that people try Waltz again if they previously abandoned it because of us not supporting sites.

Don't get me wrong, it's Importent to prioritize sites based on demand, but I think that p

[2013-12-20 16:07] lolux opened #177 "Not recognizing logged in state on Amazon.com"
After logging in to Amazon, the Waltz login button appears at seemingly random times. E.g., just now it appeared after I landed on the third product page while shopping. This has happened to me several times now. It seems like Waltz doesn't recognize that I am already logged on or that Waltz recognizes it for a time and then loses it.

I know that Amazon asks me to re-enter my password before cert

[2013-12-20 16:09] josephwegner commented on #177
Must be that we're checking the wrong element to see if the user is logged in.. We'll get on that - thanks @lolux

[2013-12-20 16:13] josephwegner opened #178 "Create FAQ on getwaltz.com"
I'm getting a lot of pretty similar questions related to Waltz - I think we should create a FAQ page/section on getwaltz.com

Questions I think should be there:
- What is Waltz doing with my passwords?
- Can I have multiple accounts for one site?
- Why doesn't Waltz work on every site?

[2013-12-21 02:26] josephwegner opened #179 "Cy not getting logout requests"
I haven't researched the cause of this at all, but I was helping Laurence with a site config, and I wasn't getting logged out of Cy when I logged out of the app.

As a note, I _am_ logged out of Clef..  but my session with Cy is still valid.

[2013-12-21 03:55] lolux commented on #179
I'm getting the same . . . I think this started about three hours ago. I was able to log out of Waltz earlier this evening.

[2013-12-21 03:58] jessepollak commented on #179
Investingating.

[2013-12-21 04:00] jessepollak commented on #179
This looks like something on our end. I just restarted our logout hook service and it seems to be working again. Will dive deeper into what caused the issue tomorrow.

[2013-12-21 04:04] jessepollak opened #180 "Empty email when clicking email site request button"
![screen shot 2013-12-20 at 10 43 48 am](https://f.cloud.github.com/assets/1097953/1795216/ec64f1d8-69f4-11e3-9ec4-5ccfa38fdf13.png)

I think this may have to do with mailto:

[2013-12-21 04:06] jessepollak opened #182 "Fix 2-factor auth for Github"

[2013-12-21 04:24] jessepollak opened #183 "Make Waltz work for google apps if it's off the Google subdomain"

[2013-12-21 15:48] lolux commented on #179
Not sure if this is related, but Waltz appears non-functional this morning. The button appears when I visit a Waltz site (e.g., Amazon), but nothing happens when I click the button. Reloading the dev and normal versions didn't fix it. Also, re-opening Chrome didn't either. Hmmm....

[2013-12-21 16:05] josephwegner commented on #179
My computer is restoring to a new HD right now, so I'm unable to test.  It
seems that Clef is working on my mobile, so it must be Waltz.  I'll dig in
as soon as I'm able.
On Dec 21, 2013 9:48 AM, "lolux" notifications@github.com wrote:

[2013-12-21 17:23] jessepollak commented on #179
...Waltz's API server crashed, not sure why, just rebooted and all is well.

[2013-12-21 17:31] josephwegner commented on #179
Jesse, was it hung or crashed?  If it's a full crash, it should probably
restart itself, right?
On Dec 21, 2013 11:23 AM, "Jesse Pollak" notifications@github.com wrote:

[2013-12-21 17:32] jessepollak commented on #179
It was fully down. There was no docker container active. When I added an empty commit and pushed it went right back up...

[2013-12-21 17:40] jessepollak commented on #179
Also, because of the way dokku seems to work, I can't see any past logs :/

[2013-12-21 18:14] josephwegner commented on #179
Ah, that really stinks.  I will do some research around setting something
like LogEntries up.
On Dec 21, 2013 11:40 AM, "Jesse Pollak" notifications@github.com wrote:

[2013-12-21 18:24] jessepollak commented on #179
Yeah, very strange.

On another note, I just ran a migration that fixed the user session for all the users that would have been messed up by this logout failure.

[2013-12-21 18:41] jessepollak opened #185 "Add ability to key rotate"
I added an issue about this in waltzio/cy as well. @landakram and I think that with our security model, it's a good idea for us to rotate encryption keys on a pretty regular basis, just in case.

this shouldn't be too hard, but will be nice to have.

[2013-12-21 18:41] jessepollak commented on #172
I'm going to close this because we've added it to the list of sites. @landakram started working on this, I know, any progress?

[2013-12-21 18:42] #172 closed, assigned to nobody

[2013-12-21 18:42] jessepollak commented on #178
This would be really great to have.

[2013-12-21 18:42] jessepollak commented on #178
We have gotten _so_ many support requests with these questions.

[2013-12-21 18:42] jessepollak commented on #177
I would guess that is the case @josephwegner, I can look into this later today.

[2013-12-21 19:13] lolux commented on #179
I'm still getting errors while trying to test Waltz for the last 20 min or
so. Can't log in to Waltz. I can scan the wave, but after wave disappears
and the Clef logo appears, nothing happens. When I log out of the Clef app,
nothing happens. It looks like I'm not logging into Waltz.

[2013-12-21 19:17] jessepollak commented on #179
Investigating now.

Jesse Pollak
CPO at Clef
jesse@getclef.com
On Dec 21, 2013 2:13 PM, "lolux" notifications@github.com wrote:

[2013-12-21 19:24] jessepollak commented on #179
Hmmm, I'm not seeing that on my end.

[2013-12-21 19:34] jessepollak commented on #179
I think this likely has to do with the migration I ran to fix the logout issue.

[2013-12-21 19:36] jessepollak commented on #179
Laurence, does the Clef logo disappear when you try to log in?

[2013-12-21 19:38] jessepollak commented on #179
Can you check the javascript console to see if there are any errors?

[2013-12-21 19:40] lolux commented on #179
Just now I was able to log out of Waltz via the phone app for the first
time in a while. I was getting lots of weird issues. It looks like it's
coming back to normal. Just did a successful log in at Amazon.

[2013-12-21 19:42] jessepollak commented on #179
So log in worked for you? What other weird issues were you getting?
On Dec 21, 2013 2:40 PM, "lolux" notifications@github.com wrote:

[2013-12-21 19:46] lolux commented on #179
event.returnValue is deprecated. Please use the standard
event.preventDefault() instead.
jquery-1.8.0.min.js:2chrome-extension://pioclpoplcdbaefihamjohnefbikjilc/third_party/jquery-1.8.0.min.js
Waltz analytics not tracked show_widget
 Object {UUID: 398409660, has_network_connection: true, chrome_version: "5.0
(Macintosh; Intel Mac OS X 10_9_1) AppleWebKit…ML, like Gecko)
Chrome/31.0.1650.63 Safari

[2013-12-21 19:50] jessepollak commented on #179
Yeah I fixed the logout issue. The login one perplexes me. Those frame
blocking warnings scare me. Investigating.

Jesse Pollak
CPO at Clef
jesse@getclef.com
On Dec 21, 2013 2:46 PM, "lolux" notifications@github.com wrote:

[2013-12-21 19:52] lolux commented on #177
Noob question: if we are nuking the session cookies on logout, then could
we forgot about checking a page element to determine logged in state and
just check whether the same cookie that gets nuked on log out exists as an
indicator of being logged in?

[2013-12-21 19:53] jessepollak commented on #177
Unfortunately, the cookies aren't a good indicator for logged in state
because they often exist even if a user isn't logged in :/

On Sat, Dec 21, 2013 at 2:52 PM, lolux notifications@github.com wrote:

[2013-12-21 19:54] jessepollak commented on #179
Laurence, what chrome extensions do you have active?

On Sat, Dec 21, 2013 at 2:46 PM, lolux notifications@github.com wrote:

[2013-12-21 19:55] jessepollak commented on #179
Could you open up the javascript console, then go to "Sources," then click Content scripts in the top left, then find the one with the ID jciblakmllnhbhjjgkbkeihelcndmgnh and look what files are inside?

https://www.dropbox.com/s/uz84c9ald1zwq1w/Screenshot%202013-12-21%2014.54.54.png

[2013-12-21 19:55] jessepollak commented on #179
Alternatively, just go look here: chrome://extensions/ for the chrome extension with that ID.

[2013-12-21 20:13] jessepollak commented on #179
So, those blocked warnings are coming from the Zotero plugin, which is trying to detect whether the frames are top level or not. I installed the extension and am not getting the same warning, because it's wrapped in a try catch, so I'm not sure what's going on with @lolux's version. Not concerned about it.

[2013-12-21 20:14] jessepollak commented on #179
The login stuff I am more concerned about, will continue investingating.

[2013-12-21 20:14] lolux commented on #182
Oh, I see you already know about this. I was just going to add an issue for it:
https://www.dropbox.com/s/bpeqpxll4i26o24/Screenshot%202013-12-21%2015.12.44.jpg

This one is weird since it seems to me that the .json has the correct settings already. . . .

[2013-12-21 20:16] jessepollak commented on #182
Will fix.

On Sat, Dec 21, 2013 at 3:14 PM, lolux notifications@github.com wrote:

[2013-12-21 20:36] lolux commented on #182
Also, help.github.com doesn't include the same sign out check, so Waltz login button appears even though I'm logged in.

[2013-12-21 21:25] jessepollak opened #188 "Make login work for WordPress.com subdomains"
1. Try to log in at a wordpress.com subdomain (like jessepollak.wordpress.com).
2. Log in, hit /wp-admin, then get redirected back to /wp-login.php

This is because of our redirect.

To fix this, we may need to do that redirect check based on paths rather than on full domains.

[2013-12-22 15:04] josephwegner commented on #178
Add to the list:
- Does Waltz change my passwords?
- How do I use Waltz in mobile?

[2013-12-22 23:02] lolux commented on #175
Depending on both how many volunteers start helping to submit new site config files and how many requests come in (I'm guessing the latter is going to grow exponentially with the number of users), it would be nice to automate a workflow (Captain Obvious, I know) that includes (brainstorming here):
- receiving submissions from users
  - can the current e-mail button be routed to something like [osT

[2013-12-23 03:34] lolux commented on #177
Did another round of testing today. These three URLs appear to be "random" culprits:

http://www.amazon.com/b/ref=gbsl_tit_l-1_4142_11fef3d0?ie=UTF8&node=7755244011&field-enc-merchantbin=ATVPDKIKX0DER&smid=ATVPDKIKX0DER&pf_rd_m=ATVPDKIKX0DER&pf_rd_t=701&pf_rd_s=left-new-1&pf_rd_r=0BWEJ5DH323C0WV61D03&pf_rd_i=20&pf_rd_p=1671394142

http://www.amazon.com/gp/rate-it/ref=pd_bzer_redirect_c

http://www

[2013-12-23 13:58] josephwegner commented on #175
Oh boy, it's been a long time since I've worked with osTicket..  In order to use osTicket for free, we would have to host it on our owns servers, correct?  That sounds like a lot of pain that I'm not really interested in.

I think that no matter which way we go, the entry of site requests needs to be manual, simply because we're accepting requests from three venues (twitter, github, email).

Githu

[2013-12-23 15:00] josephwegner commented on #178
FAQ created in 99cf2295d48671350a11779be79ae92ab1279561

[2013-12-23 15:00] #178 closed, assigned to nobody

[2013-12-23 16:06] lolux opened #195 "Add check for null input?"
When a user is presented the enter credentials form, does there need to be a check to make sure that some values are entered? Currently, Waltz accepts nulls for user and pass.

[2013-12-23 16:33] josephwegner commented on #195
:+1: We should definitely be checking for empty inputs.  Will-do

[2013-12-23 18:25] jessepollak commented on #195
Nice call @lolux.

[2013-12-23 21:32] josephwegner opened #197 "Can't Change Cy URL"
I went in to try and work on some Cy tickets, and found that I can no longer change the Cy URL...

I _think_ there is a race condition when `setOption` calls `getOptions`...  `getOptions` calls `setOptions` internally before passing the retrieved options back to the `setOption` callback..  I think there's a race to see if the `setOption` callback or the `setOptions` call finishes first.  I'm not s

[2013-12-23 21:47] #195 closed, assigned to josephwegner

[2013-12-23 22:00] jessepollak commented on #197
I honestly have no idea why that setOptions is in there, but there may well be a good reason. I'm not sure if you've noticed, but we've done some _crazy_ things with the Storage class. We were hitting problems with the fact that it wasn't thread safe, so now we proxy _all_ sets and gets through one instance of StorageBase.

@landakram do you have any comments on this?

[2013-12-23 22:03] josephwegner commented on #197
Good 'ol git blame..

Looks like it was @landakram, and had something to do with lodash.

https://github.com/waltzio/waltz/commit/13bed624c583b5cd404a70ed8fcf92194fe0a805

I have noticed that the storage class is getting a bit crazy.  Kinda fun that there's like 4 different ways to set something in storage :)

[2013-12-23 22:04] jessepollak commented on #197
Yeah...it's very crazy.

[2013-12-23 22:09] #197 closed, assigned to nobody

[2013-12-23 22:11] jessepollak commented on #197
So, the fix I just pushed _definitely_ fixes this bug. The problem was that we for some reason for go to switch out that chrome.storage.local.set with our model's version of that (that proxies it to the background page and does a bunch of other things).

That said, I'm still a little confused why we have the storage.setOptions in the storage.getOptions, @landakram can you illuminate?

[2013-12-24 18:10] lolux opened #198 "submitButtonValue?"
In readme.md is `"submitButtonValue": "login",` a typo? Or, is it just a shorthand way to do this selector: `"submitButton": "input[value='login']",`

[2013-12-24 19:43] lolux opened #202 "ignore URLs in site configs"
.json enhancement suggestion: add new parameter that allows us to exclude/ignore specific URLs and/or URL patterns.

Why needed? This has come up several times in testing. E.g., blog.prezi.com displays the Waltz button even though it is not a site meant for Prezi users to log in. Currently, there is no way to exclude this URL from the pattern match without forcing a too restrictive pattern (i.e.,

[2013-12-25 05:44] lolux opened #204 "SSO for Waltz Management"
Security-wise, I don't think I should be able to do this: https://www.dropbox.com/sc/giwcib4tpk43s01/siXn1rHB0A

[2013-12-26 14:34] josephwegner commented on #204
Hmm,

That's a tricky question.  You can't actually decrypt the creds without authenticating with Clef, so there isn't any real danger of your creds getting stolen.

However, I do see the value in hiding it.  There has always been this unwritten understanding in the security world that it doesn't matter if people know _where_ you have accounts to - or even know your username there - as long as the

[2013-12-26 14:39] #198 closed, assigned to nobody

[2013-12-26 14:39] josephwegner commented on #198
Thanks @lolux - that was a typo.

[2013-12-26 14:58] josephwegner commented on #202
@lolux I have added a new key to the site configs called `match`.  This should be a regular expression that will match all pages that the Waltz button should show up on.

For your case of excluding specific subdomains, you need to use a [negative lookahead](http://www.regular-expressions.info/lookaround.html) to check for the offending subdomain.  Here's an example you can use - it should be prett

[2013-12-26 14:58] #202 closed, assigned to nobody

[2013-12-26 15:02] lolux commented on #204
My two cents:
1. There are sites that require users to use the same token for user and pass (horrible, I know, but its true...). In those (albeit rare) instances, we are exposing the password since it is the same as the login.
2. Even though decrypt password is disabled, forget/delete is not. In my view when I sign out of Waltz all doors should be locked, especially the management door to my Waltz

[2013-12-26 15:13] josephwegner commented on #204
Alright, I'm seeing the light.

Especially considering that we eventually plan to allow multiple users per Waltz installation (ie: multiple password sets), we will need to lock that down.

Looking at our analytics, we're seeing an incredibly low amount of people actually "forgetting" credentials..  More people are decrypting them (presumably to edit), though even that is not much.  I hate to do it

[2013-12-26 15:16] josephwegner commented on #204
@jessepollak

From a technical standpoint, I don't think we should move to encrypting usernames until we add in the "pretty name" thing.  Being able to access the username will be important for data integrity when we migrate to the new structure - otherwise everyone will have a bunch of accounts with empty pretty names.  If we do it all at once, we can default existing creds to have the email as t

[2013-12-26 15:16] josephwegner commented on #14
@jessepollak Are we doing this yet?

[2013-12-26 15:19] josephwegner opened #205 "Multiple Account Support"
Obviously, we need to start thinking about this.

I think that from a technical point of view, this isn't actually all that hard.  We just need to start storing arrays of credentials for each site, rather than a single object.  The bigger trick, I think, is UX - how do we ask the user which account to sign in with?

The trickiest part will be working with sites like Google that allow multiple conc

[2013-12-26 17:24] lolux commented on #202
Thanks for adding this!

I had to make one change to get it to work on prezi.com: deleting the last forward slash. So, it works like this for me:

`"match": "https?://(?!blog\\.)(?!beautifulbits\\.)([^.]+\\.)?prezi\\.com",`

[2013-12-26 18:12] lolux opened #208 "Log out via URL"
So I've been wrestling further with Wikipedia's "zombie cookies," and I realized that the ones I can't get to stay dead are all marked httponly. Can Waltz delete this kind of cookies?

If not, is it possible to have Waltz load (or call?) a site's logout URL, as if a user had actually clicked the logout URL?

[2013-12-26 18:21] josephwegner commented on #208
Unfortunately, Waltz cannot delete cookies that are set as httpOnly. That's a server-side variable set to stop malicious scripts from stealing/altering your cookies.

We can, however, update Waltz so that it calls a site's logout URL.  If you don't mind, @lolux, could you rename this issue to something like "Logout using URL", so that we can better see what we needs to be done?

[2013-12-26 18:54] josephwegner commented on #179
@jessepollak Any updates here?  Can we close, or open a new ticket for the actual issue?

[2013-12-26 19:00] josephwegner commented on #177
@lolux I am guessing that this is an issue of the `check` element not being loaded on the page by the time that Waltz looks for it.  This is common on javascript based sites, and I know that Amazon's header is a big culprit of stuff like this.

We have some code already in there that checks every 300ms for the first 6 seconds of the page load...  So, even if it loads late, it should disappear (unl

[2013-12-26 19:03] #158 closed, assigned to nobody

[2013-12-26 19:04] josephwegner commented on #155
Closing this, because it sounds a lot like #179.  You can reopen if you disagree

[2013-12-26 19:04] #155 closed, assigned to nobody

[2013-12-26 20:11] lolux commented on #177
Just now, clicking on the middle of the three URLs above causes the issue for me: I'm logged into Waltz and Amazon, but the Waltz button appears on that URL. (A few days ago all three URLs were doing it.)

I'm happy closing this issue for now. . . .

[2013-12-26 21:27] josephwegner commented on #172
@landakram @TranLePhu The verge is added!  It will go out in our next release.

[2013-12-27 02:49] lolux commented on #208
Here is a starter list of sites that, from what I have gathered during testing, deliver their authentication cookies via httpOnly and hence won't work with Waltz until we figure out a log out workaround:
- Wikipedia
- PayPal
- MSN.com

I'll try to remember to update this as I come across more. . . .

[2013-12-27 17:33] josephwegner opened #213 "Add Analytics to Website"
I'm thinking that it might be fun to have some sort of analytics on the website...  Not in any great detailed sense, but just something to give an indication that people are _actually_ replacing their passwords with Waltz/Clef.

I'm thinking something like

"1,542 people have skipped passwords this week"

Or, at least something similar.  I'm open to ideas.

Anyone have any objections to having thi

[2013-12-27 18:03] lolux commented on #213
:+1:

[2013-12-27 19:31] landakram opened #215 "Investigate `formOnly` not working"
From https://github.com/waltzio/waltz/pull/211

It may be that we should simply deprecate `formOnly` in favor of `match`, since `match` is a more flexible config.

[2013-12-27 20:06] jessepollak commented on #213
I like the idea of this.

[2013-12-27 20:06] jessepollak commented on #208
I'm surprised that we can't kill httpOnly cookies. We can for sure _access_ httpOnly cookies, so why wouldn't we be able to delete them (or modify them).

[2013-12-27 20:06] jessepollak commented on #208
But, if that's really the case, I'm sure we can figure out this logoutURL thing.

[2013-12-27 20:08] josephwegner commented on #208
@jessepollak It doesn't say that anywhere specifically in Chrome's documentation (I scoured it, because I was surprised too).  A barely-related stackoverflow post indicated that chrome extensions couldn't touch httpOnly cookies.  Which, in reality, makes sense.

But, that shouldn't necessarily be held as fact - it's worth testing.

[2013-12-27 20:11] jessepollak commented on #205
I was thinking this issue was something else: supporting multiple Clef accounts on the same computer, which I think is something we do need to do, but can hold off on for a little longer.

Multiple web account support is definitely a feature that I'd like: I use multiple accounts on Gmail, HelpScout and a bunch of other sites — being able to easily choose the account I want would be great.

[2013-12-27 20:15] jessepollak commented on #204
So, I think that I agree with @lolux that we should put all of these credentials settings (even being able to see them) behind Clef protection. That said, I feel like this may give users a false sense of security, especially if we don't encrypt usernames. For instance, even if we put this page behind Clef access, a malicious user could still:
- view usernames
- remove credentials

I say we hold of

[2013-12-27 20:18] jessepollak commented on #182
I'm not seeing this broken on my end. Can you check what the name of the input field when you put in your 2-factor token?

[2013-12-27 20:20] jessepollak commented on #179
Let's close for now. I think I fixed the issue on Clef's end and resolved the bugs with @lolux (at least one of them was just a miscommunication). If this pops up again, let's reopen.

[2013-12-27 20:20] #179 closed, assigned to nobody

[2013-12-27 20:23] #177 closed, assigned to nobody

[2013-12-27 20:24] jessepollak commented on #174
To fix this, I think we should mark the currentLogin object with a two-factor flag if they hit the two-factor page. Then, if they hit another page, we just clear the currentLogin.

[2013-12-27 20:27] lolux commented on #182
Here's how I get the error:
1. Log in via Waltz button
2. Enter **incorrect** 2-factor code
3. Waltz returns the error page noted earlier (see screenshot)

I just double-checked, the 2-factor input field is named `otp`, which is what is in the .json.

[2013-12-27 20:28] jessepollak commented on #182
OH, so the first time, it works as expected? That makes sense, I guess.

On Fri, Dec 27, 2013 at 3:27 PM, lolux notifications@github.com wrote:

[2013-12-27 20:47] jessepollak opened #216 "Validation for empty credentials fails on auto-fill"
https://www.dropbox.com/s/bwv1marqqexhgko/Screenshot%202013-12-27%2015.47.11.png

For some reason, val() doesn't pick up on auto-filled values. This is an issue with [these lines](https://github.com/waltzio/waltz/blob/develop/static/js/client/waltz.js#L589).

[2013-12-27 20:56] lolux commented on #182
Not sure what you mean.

I'm saying that Waltz won't let Github display its error page for failed 2-factor attempts.

Will adding a `nextURLs` param for the 2-factor URL fix this? (Testing. . . )

[2013-12-27 20:58] jessepollak commented on #182
I was thinking it was just broken all the time, not just on error. Will
investigate.
On Dec 27, 2013 3:56 PM, "lolux" notifications@github.com wrote:

[2013-12-27 20:59] josephwegner commented on #216
what? That's super weird..  I'll look at it.

[2013-12-27 21:01] josephwegner commented on #205
@jessepollak In order to do multiple Clef accounts, we need to finish #14, I believe.  I also think that's an important feature.

[2013-12-27 21:03] jessepollak commented on #205
Yeah, for sure. I can look into this in the new year. I don't think the
name spacing will be that hard, but there are some tricky UX issues I
think.
On Dec 27, 2013 4:01 PM, "Joe Wegner" notifications@github.com wrote:

[2013-12-27 21:03] josephwegner commented on #177
@jessepollak Were you able to repro this before you fixed it?

Perhaps it's actually unrelated, but I do think  saw on my localhost that the check retries aren't working anymore.  I can create a new issue for that, if that's not what the problem is here.

[2013-12-27 21:05] jessepollak commented on #177
Yeah reproduced and fixed. I haven't seen that behavior, can you open a new
issue please.
On Dec 27, 2013 4:03 PM, "Joe Wegner" notifications@github.com wrote:

[2013-12-27 21:19] lolux commented on #182
Not entirely sure whether this is the cause, but I noticed that the
MFA form submits to a different URL than the one set in the `formURL`
param: https://github.com/sessions/two_factor.

Do we need a new `formURL` param in the `twoFactor` object to allow
these sorts of MFA forms to submit properly?

[2013-12-27 21:56] josephwegner opened #217 "Should we Support Non-SSL Sites?"
I created a site config for The Verge yesterday.  As I was doing it, I noticed that The Verge handles logins over a non-SSL connection.  Usernames and passwords are sent in plaintext, and are very much vulnerable to simple MITM attacks.

I created the site config, but I feel very gross about it, because we're encouraging our users to use sites that are blatantly sending their creds out to the whol

[2013-12-27 22:06] lolux commented on #217
I feel ya. I came across the same issue today when looking at CNN, whose login form submits to http://audience.cnn.com/services/cnn/flow/cnn-login-api. (Come on ppl, its 2014!)

Another option: add them but display a warning.

[2013-12-27 22:08] josephwegner commented on #217
holy cow..  CNN?  I thought The Verge was a big deal.  Ridiculous.

[2013-12-27 22:11] lolux commented on #182
Actually, looking at it further, I think this is the same issue as #174 ...

[2013-12-28 00:26] jessepollak commented on #182
Yeah, I think it's the same issue.

[2013-12-28 00:26] jessepollak commented on #217
Jeez, we need to publicize this somehow — could be a great press campaign for Waltz.

[2013-12-28 00:33] #216 closed, assigned to nobody

[2013-12-28 04:43] lolux commented on #208
Yes please check me out. I could be wrong about this.

From my own testing as far as Wikipedia goes (https://github.com/lolux/waltz/blob/site-config-Wikipedia2/site_configs/wikipedia.json), I can't kill the cookies for the life of me. When I attempt to delete just`centralauth_Session` on Clef logout, then Wikipedia loads about a dozen more copies of the cookie on related domains. Same thing happen

[2013-12-28 04:47] jessepollak commented on #208
Wikipedia just worked 100% for me with that config minus all the cookies
except centralauth_Session

On Fri, Dec 27, 2013 at 11:43 PM, lolux notifications@github.com wrote:

[2013-12-28 04:56] lolux commented on #208
Can you repro this?
1. log out of Wiki
2. go to a page like soccer or basketball
3. log in via Waltz
4. log out via clef app
5. page appears logged out
6. however, click on "main page" in top left menu, and home page appears logged in.
7. verify in your console that Wiki loaded a zillion copies of centralauth_Session

[2013-12-28 05:57] jessepollak opened #218 "Generate unique ID for each set of credentials"
So, right now, we generate a unique encryption key for each site key (facebook, twitter, etc). These encryption keys are used to encrypt credentials on _all_ of your devices and they never change.

We're going to fix the never change thing with #185 (I've made a little progress on it), but is there a reason why we'd want these keys (even when rotated) to remain consistent across all devices?

I pr

[2013-12-28 05:59] jessepollak commented on #208
I just followed those steps with the following config and _could not replicate_.

[code]

[2013-12-28 06:00] jessepollak commented on #217
I think we should definitely support those sites though.

[2013-12-28 06:07] lolux commented on #208
Well, im glad to hear its working for you. I must be making a git mistake
somewhere. Will try again on wiki and PayPal maybe with a fresh fork....

[2013-12-28 06:25] jessepollak commented on #218
As you can see, I just added a PR, which would implement this functionality.

This definitely doesn't have to be merged, it was just a tiny change, so I figured I'd pull to see what you thought. Well, the unique ID part was a tiny change, but then I decided to also add in a refactor I'd started for the keyRotation stuff....even if we don't merge in the unique ID stuff, we can merge in that refacto

[2013-12-28 06:26] jessepollak commented on #208
Hmm, I don't think this would be a git mistake. Can you try getting onto develop, pulling, making sure you have DEBUG = true, adding this exact wikipedia.json file, rebuilding your configs, refreshing your chrome extension then trying again?

[2013-12-28 06:49] lolux commented on #208
No joy: https://www.dropbox.com/s/mdgitmcy686c5ym/Screenshot%202013-12-28%2001.47.22.jpg

[2013-12-28 07:03] jessepollak commented on #208
Woah, can you try clearing all your cookies and do it again?

[2013-12-28 07:05] lolux commented on #208
I tried that several times, still no joy. (Enter the Zombie cookies.)

[2013-12-28 17:04] josephwegner commented on #217
While I don't love it, the upside to supporting sites that don't use SSL is that we can just automatically grab the list of offending sites from the site_configs file.

[code]

[2013-12-28 17:48] jessepollak commented on #217
:heart_eyes_cat:

[2013-12-28 18:38] lolux commented on #208
So, at least I think I can explain the multiplying cookies now: https://meta.wikimedia.org/wiki/Help:Unified_login

Every time I log in I get copies of the cookies on all of these domains. Screenshots of my repro just now:
1. [Pre log in](https://www.dropbox.com/s/2qe4gcckrj6l9zk/Screenshot%202013-12-28%2013.25.20.jpg)
2. [Post log in](https://www.dropbox.com/s/fyxlw8m9g0ljxql/Screenshot%202013-12

[2013-12-28 20:00] lolux commented on #208
Regarding whether Waltz can kill httpOnly cookies, she is doing it successfully with GitHub's `user_session` cookie.

[2013-12-28 20:01] landakram commented on #218
I can't quite figure out the attack vector, but using a different key per credential per device just _seems_ like it's a good idea, so I'm in favor.

[2013-12-28 20:02] landakram commented on #218
It might make it harder to sync credentials across devices in the future, but I think that will require a rather major re-jiggering anyway.

[2013-12-28 20:04] jessepollak commented on #208
Yeah..

On Sat, Dec 28, 2013 at 3:00 PM, lolux notifications@github.com wrote:

[2013-12-28 20:04] jessepollak commented on #218
Yeah, that was my concern as well, but I think that it's going to require a different architecture, so I don't think we should let that limit this.

@josephwegner thoughts?

[2013-12-28 20:06] landakram opened #220 "Unit tests"
We desperately need some basic unit tests around encrypting and decrypting credentials and saving things in local storage from the foreground and background page.

This would make me feel a lot more comfortable with refactoring and other changes to the crypto and storage modules.

[2013-12-28 20:11] jessepollak commented on #220
This would be great. Also, it'd be nice to have them for key fetching on waltzio/cy.

[2013-12-28 21:09] josephwegner commented on #220
:+1: :+1: :+1:

[2013-12-28 21:18] josephwegner commented on #218
@landakram re-jiggering?  That's the first time I've heard that term :)

I think this is a good idea.  I've had it in the back of my head for awhile that we probably shouldn't be having Cy store the username..  Once we take the username out of Cy, anything stored in the Cy database becomes pretty much useless to an attacker (unless they get access to the user's device).

If we want these keys to b

[2013-12-28 21:43] jessepollak commented on #218
There's no username stored in Cy? We do store site name though, which this
would remove.

I'm going to refactor again, write some tests, then merge.
On Dec 28, 2013 4:18 PM, "Joe Wegner" notifications@github.com wrote:

[2013-12-28 21:43] josephwegner commented on #208
I've heard of something similar before..  I know that Rails, by default, "root domain cookies" aren't actually a thing - in reality, Rails just copies your cookies over to all of the subdomains that it knows about.  So it looks like one cookie, but really you've got a bajillion copies.  I've never worked with MediaWiki (which runs Wikipedia), but perhaps they are doing the same thing.

I know it's

[2013-12-28 21:44] josephwegner commented on #218
Sorry, I meant sitename.  But I have the same issues with storing the sitename as I do with storing the username.  If someone broke into our database, they could get a list of all sites that a user has an account with.

[2013-12-28 21:45] jessepollak commented on #208
Can we call it cookiexplosion?
On Dec 28, 2013 4:43 PM, "Joe Wegner" notifications@github.com wrote:

[2013-12-29 06:07] lolux opened #223 "Fix event handler error"
I'm trying to set up a site config for Internet Archive using the following .json.

[code]

Log in attempts fail and return an [event handler error](https://www.dropbox.com/s/ldlwr6fi967sekc/Screenshot%202013-12-29%2000.52.38.jpg) in the console.

Since I've seen this same error message on several other sites for which I'm trying to get site configs working, I'm wondering whether there is an under

[2013-12-29 07:32] #218 closed, assigned to nobody

[2013-12-30 15:09] josephwegner opened #224 "Install Event Called Too Often?"
I can't say for sure what's going on, but it seems like the install event is being called _way_ more often than it actually should be.  Keen is showing an increasing number of install, with 306 on Friday increased to 443 on Sunday.  Similar events like activated and first_tutorial are only showing ~20 hits per day.

Possible causes:
- Race condition on when the `install` event is called
- `install

[2013-12-30 15:30] lolux commented on #224
Is it possible that the install the event is called when I press reload to
test site configs? I have prob reloaded a couple hundred times at least...
On Dec 30, 2013 10:09 AM, "Joe Wegner" notifications@github.com wrote:

[2013-12-30 15:34] josephwegner commented on #224
It's very possible.  I meant to mention that.  Do you have develop mode set on your localhost?  All of the Keen code should be stubbed when you're in develop mode.

[2013-12-30 19:02] iamb55 commented on #117
- [x] khanacademy.org
- [x] instapaper.com
- [ ] toggl.com
- [ ] simple.com
- [ ] expedia.com
- [ ] yahoo.com

[2013-12-30 23:46] iamb55 commented on #117
- [ ] redbox.com

[2013-12-31 02:00] josephwegner commented on #217
Add instapaper to the list.  jerks.

[2013-12-31 02:19] jessepollak commented on #224
Checking in from a far land: install is called on updates, my bad.

On Mon, Dec 30, 2013 at 9:34 AM, Joe Wegner notifications@github.comwrote:

[2013-12-31 02:39] josephwegner commented on #224
no worries.  It's not necessarily _bad_ that we're tracking upgrades.. Probably just more useful if we can have that under another event.  I'll see if I can get to this this week.

[2014-01-01 01:56] iamb55 opened #226 "verge overlay covers waltz logo"
theverge.com

http://cl.ly/image/403P0R361w0x

[2014-01-03 03:18] iamb55 commented on #117
- [ ] login.microsoftonline.com
- [ ] icloud.com

[2014-01-03 19:49] iamb55 commented on #117
- [ ] capitalone.com

[2014-01-03 21:33] iamb55 commented on #117
- [ ] tes.co.uk
- [ ] grandst.com

[2014-01-04 16:35] lolux opened #230 "Accommodate Yahoo's Second Sign-In Verification"
This issue addresses part 1 of the lacking features noted in https://github.com/waltzio/waltz/pull/229.

Recently, Yahoo changed the format of its idiosyncratic Second Sign-In Verification (SSV): the SSV form now appears as a hidden DIV on one of the two login URLs. This change causes Waltz's `twoFactor` parameter to fail. Thus a solution is needed to accommodate a two-factor form that appears as

[2014-01-04 17:01] lolux opened #231 "Accommodate Yahoo's password re-input"
This issue addresses part 2 of the lacking features noted in https://github.com/waltzio/waltz/pull/229.

Yahoo asks the user to re-input his or her password in order to perform certain tasks such as viewing and editing account security settings. Technically, the user is still logged in to Yahoo's ecosystem, so this is not a full re-authentication but a second request for the user's password.

Walt

[2014-01-04 18:24] lolux opened #233 "Reboot Waltz server"
Starting approx 3–5 min. ago, Waltz is stuck in signed in mode even after I sign out of the Clef app. Does the server need a reboot?

[2014-01-04 19:09] landakram commented on #233
Are you still seeing this issue? —
Sent from Mailbox for iPhone

On Sat, Jan 4, 2014 at 10:24 AM, lolux notifications@github.com wrote:

[2014-01-04 19:17] lolux commented on #233
Yes :(

[2014-01-04 19:31] jessepollak commented on #233
I just rebooted the logout workers on Clef's end, which may have fixed the issue. @lolux?

Obviously, this needs a bigger long term fix — will get on it when I return on Monday.

[2014-01-04 19:51] josephwegner commented on #233
@jessepollak Thanks for restarting that.

Is that an issue on Clef's end, or is it something that Waltz is causing? If it is on Clef's end, do you know what the issue is?  Can we do anything to help you debug it?

[2014-01-04 21:01] lolux commented on #233
Will check it when I get back later this evening...
On Jan 4, 2014 2:31 PM, "Jesse Pollak" notifications@github.com wrote:

[2014-01-05 01:18] iamb55 commented on #117
- [ ] landmarkcu.com

[2014-01-05 01:40] lolux commented on #233
... @jessepollak it is working now.

[2014-01-05 05:59] lolux commented on #223
Updated site config (still getting the event handler error):

[code]

[2014-01-05 17:05] lolux opened #241 "Accommodate CSP rules"
The following test config for LastPass.com yields Content Security Policy ([CSP](http://developer.chrome.com/extensions/contentSecurityPolicy.html)) errors [in the console](https://www.dropbox.com/s/036r6ontidvxasn/Screenshot%202014-01-05%2011.59.36.jpg):

[code]

Do CSP's such as LastPass's preclude Waltz integration altogether?

[2014-01-05 19:06] lolux opened #243 "Fix log in on duoLingo site config"
[code]

Log _out_ works, but I need help figuring out the log _in_ on this one.

I'm getting an incorrect user/pass error from Waltz. Given the hidden DIV popup login form and (I assume) some sort of JS handler for the form, I can't tell whether I have the correct `formURL` and/or whether I'm missing something obvious to get log in to work.

(Also, if I'm right on the `formURL`, here is another fo

[2014-01-06 16:01] dylanhthomas opened #244 "Add site config for Box.net"

[2014-01-07 01:17] jessepollak commented on #223
This is resolved, so you should be able to add internet archive back in and have it work.

[2014-01-07 02:48] lolux commented on #223
Hmmm, unfortunately I'm still getting an event handler error: https://www.dropbox.com/s/d4upe9vsvflsx8t/Screenshot%202014-01-06%2021.44.40.jpg

(I'm pretty sure I pulled the patch correctly: https://www.dropbox.com/s/e4e19rwjgi74gxp/Screenshot%202014-01-06%2021.46.52.jpg)

[2014-01-07 02:59] lolux commented on #217
Pandora.com (say it ain't so).

BTW, just for comparison, LastPass displays a warning popup [like this one for Pandora](https://www.dropbox.com/s/xhgvwiynavvme53/Screenshot%202014-01-06%2021.51.38.jpg) upon detecting non-SSL log in forms.

[2014-01-07 04:52] jessepollak commented on #223
Ah, I think I fixed one case, but not the other. Are you seeing this when you're on the login page or just when you're on a non-login page?

[2014-01-07 04:58] lolux commented on #223
I'm fairly certain that I've tested it both ways in the past. Today,
however, I've only been testing the login page.

(I can run another test both ways as soon as I can figure out why GitHub is
suddenly not recognizing my public key. And here I thought git and I were
starting to become good friends. [Insert arrrrrrg here!])

[2014-01-07 05:12] jessepollak commented on #223
OK, I think this should be fixed now. I added internet archive as well, so test with that.

[2014-01-07 05:59] lolux commented on #223
Almost!

Waltz button works everwhere (home page, search pages, item pages) except on the actual login page: https://archive.org/account/login.php. Using it here still produces console error message: https://www.dropbox.com/s/h2svyloa3akm1vh/Screenshot%202014-01-07%2000.58.11.jpg

[2014-01-07 06:21] lolux commented on #223
Could this have anything to do w/ the lack of an action value in the form
tag?
On Jan 7, 2014 12:12 AM, "Jesse Pollak" notifications@github.com wrote:

[2014-01-07 16:14] iamb55 commented on #117
- [ ] moz.com

[2014-01-07 20:38] ghost opened #248 "seeking Waltz login"
I'd like to be able to use my account at:

www.accessoryjack.com

with Waltz/Clef

Thank you!

[2014-01-08 12:50] lolux opened #250 "Accommodate password+OTC combination input"
Site: usaa.com

Scenario: when user enables USAA's MFA feature, user must enter a 4 digit pin plus OTC (via [Verisign VIP](http://www.symantec.com/verisign/vip-authentication-service/)) in password field.

For Waltz to work in this scenario, we need to accommodate the ability to submit the password portion of the log in request as `PIN+OTC = password`. Perhaps this could be done by storing the PIN

[2014-01-08 16:22] jessepollak opened #252 "Fix 2-factor auth for Dropbox"
Currently, 2-factor auth for Dropbox shows the invalid credentials screen when you try to log in.

[2014-01-08 16:26] lolux commented on #252
Looks like the input name changed to "code." I'll pull and update in just a
sec. . .

On Wed, Jan 8, 2014 at 11:22 AM, Jesse Pollak notifications@github.comwrote:

[2014-01-08 17:58] jessepollak commented on #248
I'm going to close this since we have an open PR for it. @tdherbert thanks for the suggestion — we'd love to have you contribute more, if you're interested!

[2014-01-08 17:58] #248 closed, assigned to nobody

[2014-01-08 18:46] jessepollak commented on #223
Hmm, it's working for me on all pages. Can you pull the latest and try again and verify that it's still failing?

[2014-01-08 19:24] lolux commented on #223
Still getting the console error
![screen shot 2014-01-08 at 2 22 13 pm](https://f.cloud.github.com/assets/5421342/1871667/41cb843a-789a-11e3-9fee-5c57cf225d9e.jpg)
 from login attempts via this page https://archive.org/account/login.php.
When I press the Waltz button, the button disappears but nothing happens.

(Pretty sure I've pulled the latest...`git log` says I'm on commit: 21dd062576ef47fec24

[2014-01-09 17:23] lolux opened #254 "Assess z-index configuration for all Waltz iframes/overlays"
Previously, we've discussed this issue with regard to the Waltz button being hidden behind header elements on some sitse (e.g., https://github.com/waltzio/waltz/pull/199#issuecomment-31230955; Brennen mentioned another, but I can't find the issue ref. at the moment; I've come across a couple more examples that I haven't reported).

Here is a new case where the problem applies not only to the butto

[2014-01-09 19:15] jessepollak commented on #117
- [ ] my.studiopress.com

[2014-01-09 19:16] lolux commented on #254
Possible way to find highest z-index:

[code]

(Source: [SO](http://stackoverflow.com/questions/8450382/getting-highest-z-index-value-using-jquery-live-to-ensure-all-elements-considere))

Another possibility: use [max 32-bit integer](http://stackoverflow.com/questions/491052/mininum-and-maximum-value-of-z-index)—2147483647—for the login button and password input overlays.

[2014-01-09 19:17] jessepollak commented on #117
- [ ] www.vcbonline.com

[2014-01-09 19:19] jessepollak commented on #254
Yeah, we have serious z-index problems. The problem is, we have overlapping
things that need high z-indexes (credentials overlay, clef overlay,
tutorial prompts, login button).

What we really need to do is make all of our z-indexes into SASS variables
and make them extra high.

Is there a max z-limit? For some reason I always thought it was 9999.

On Thu, Jan 9, 2014 at 11:16 AM, lolux notificati

[2014-01-09 19:26] jessepollak commented on #223
This confuses me, will have to keep digging.

On Wed, Jan 8, 2014 at 11:24 AM, lolux notifications@github.com wrote:

[2014-01-09 20:37] #252 closed, assigned to nobody

[2014-01-09 20:38] jessepollak opened #255 "Fix PayPal oauth flow"
To quote @lolux in #221:

E.g., when you press the "log in or register" link on https://www.paypal-community.com, you are taken to a PayPal login page on which the Waltz login button appears (as it should). Waltz will log you in; however, since the `formURL` of this page (i.e., https://www.paypal.com/us/cgi-bin/webscr?SESSION=...) is different than the default PayPal login form's `formURL` (i.e.,

[2014-01-09 20:53] jessepollak commented on #223
OK, I can't figure out what's different between our setups.

When you get a chance, can you jump in #waltz on IRC (or in the Clef support room) and debug with me?

[2014-01-09 22:27] jessepollak commented on #244
closing this since we have an active PR open for Box. @dylanhthomas thanks for the suggestion — we'd love to have you contribute if you have some time!

[2014-01-09 22:27] #244 closed, assigned to nobody

[2014-01-09 23:23] jessepollak commented on #223
should be fixed in f3507a1

[2014-01-09 23:23] #223 closed, assigned to nobody

[2014-01-10 18:03] iamb55 commented on #117
- [ ] mailchimp.com

[2014-01-10 19:16] #254 closed, assigned to nobody

[2014-01-10 19:38] #243 closed, assigned to nobody

[2014-01-10 19:45] jessepollak commented on #233
OK, so an update for y'all:

@landakram and I have been wrangling with our tasks queues (the problem which was causing this) over the last few days and we think we've figured it out. The solution involved updating some of the libraries we used (who woulda that a 3.0.1 would be "ancient" compared to a 3.1.7) and tweaking configuration a bit.

In our preliminary monitoring (over the last day), we've

[2014-01-10 19:45] #233 closed, assigned to nobody

[2014-01-10 19:46] #226 closed, assigned to nobody

[2014-01-10 19:46] #215 closed, assigned to nobody

[2014-01-10 21:58] jessepollak commented on #117
- [ ] americanexpress.com

[2014-01-11 00:18] jessepollak commented on #241
Added code to prevent these warnings. Closing.

[2014-01-11 00:18] #241 closed, assigned to nobody

[2014-01-11 00:18] jessepollak commented on #224
This is fixed in #262.

[2014-01-11 00:18] #224 closed, assigned to nobody

[2014-01-11 00:19] jessepollak commented on #182
Closing this, leaving #174 open.

[2014-01-11 00:19] #182 closed, assigned to nobody

[2014-01-11 19:40] lolux opened #264 "Display Clef's "Log in with your phone" button on OpenID sites."
Brainstorm/dream with me for a sec:

Wouldn't it be altogether awesome if, when a Waltz user visits an OpenID-integrated site (e.g., StackOverflow), instead of displaying the Waltz button, Waltz displays the Clef "Log in with your phone" button for Clef-powered OpenID auth?

Could we do this by adding a new param (or set of params) in the site configs that, when set, triggers the Clef+OpenID proce

[2014-01-12 19:31] lolux opened #265 "Solve Pandora's box"
Following up on https://github.com/waltzio/waltz/commit/a5d6aad8f2f8d69b3b86101c1a39b5da14ff2b71#commitcomment-5037954, thanks for the much helpful tips. I'm trying to apply them to other cases. First up, Pandora, which seems to be a true Pandora's box for Waltz:
- From all I can tell looking at the Network tab, Pandora's form uses GET instead of POST. I think the formURL is as follows, but I'm no

[2014-01-12 19:35] josephwegner commented on #265
Without actually looking at the problem...

You might be able to use a :visible psuedo-selector for the check.  Then it
will only match the check elements if they're visible.
On Jan 12, 2014 1:31 PM, "lolux" notifications@github.com wrote:

[2014-01-12 20:00] lolux commented on #265
Hmmm, no joy on attempts to apply :visible pseudo-selector on `a` element from this line: `<a class="signoutMenuItem" href="#" address="true">Sign out</a>`

[2014-01-14 01:03] jessepollak commented on #265
Pandora is hard...

[2014-01-14 01:03] jessepollak commented on #220
I wrote some tests a little while ago, so the framework is now there.

[2014-01-14 18:53] lolux opened #267 "html/sites.html not displaying"
Is this just me, or can anyone else confirm:
1. select Waltz extension button
2. select "Site where I can use Waltz already"
3. Blank page for html/sites.html

Chrome version 31.0.1650.63. Waltz version 1.0.8.2 (not my dev version but the live version from Chrome store).

[2014-01-14 18:58] jessepollak commented on #267
Can you check your background page?

[2014-01-14 19:00] landakram commented on #267
I noticed that I couldn't see sites.html either, but I was on the dev version. I also noticed that Waltz did not display on sites.

I trashed the dev version and downloaded the live version and everything displayed fine.

I'm pretty sure I've seen the same sort of behaviour before (happened after an update), but I could have sworn I had the dev version that time too. Either way, it has something t

[2014-01-14 19:04] lolux commented on #267
I could have swore that I rebooted after disabling dev version and enabling live version. But apparently another re-boot did the trick for me: https://www.dropbox.com/s/khptajv6tipuwkc/Screenshot%202014-01-14%2014.00.49.jpg.

Sorry for the bother...

[2014-01-14 19:04] #267 closed, assigned to nobody

[2014-01-15 21:06] jessepollak commented on #117
- [ ] udemy

[2014-01-20 23:11] bradp opened #274 "Ability to support wildcard subdomains."
I was going to add a few sites to this (like Harvest), and the current way site-configs function, you can add listeners on these sites. But you can't add the login URLs. (I may just be reading the docs incorrectly)

The way this site works is that you sign in on http://COMPANYNAME.getharvestapp.com - and there's no way to know all of these.

If there is a way to add these right now, I'd love an ex

[2014-01-20 23:17] jessepollak commented on #274
Hmm, wish I could log in to Harvest to check it out, but I think I see what you're saying.

Essentially, the login POST (and page) is different for each site? Could you link me to an example (even if I can't log in), so I can check it out?

This is definitely possible to fix, it may just take some time.

[2014-01-20 23:20] bradp commented on #274
Its the same on sites like Beanstalk. (Harvest functions the exact same way as this)

So, for my company, I log into https://webdevstudios.beanstalkapp.com - my old company account is https://finderio.beanstalkapp.com/

So, each user would be on a different company account.

Its POSTing to http://whateveryourcompanyis.beanstalkapp.com/session

That make sense?

If you want a free site that behaves

[2014-01-20 23:23] jessepollak commented on #274
Yeah, that makes sense. Will think about this.

On Mon, Jan 20, 2014 at 3:20 PM, Brad Parbs notifications@github.comwrote:

[2014-01-21 00:21] bradp opened #275 "Passwords in settings screen can be decrypted or changed without authing with Clef"
![screen shot 2014-01-20 at 5 20 28 pm](https://f.cloud.github.com/assets/66798/1959554/f231fa84-8231-11e3-93f6-fcc6837252a1.png)

[2014-01-21 00:22] jessepollak commented on #275
If you're already logged in, that's intended behavior. If you're not, it's most certainly not. Let me know.

[2014-01-21 00:26] bradp commented on #275
This happens to me after logging out with clef. And even after deauthorizing Waltz from my Clef account.

In fact, I can log into all sites I have passwords saved for in Waltz at this point, even though its been deauthorized and removed.

:(

[2014-01-21 00:29] bradp commented on #275
Alright, I tried this on a new chrome install, setting it up again, and it behaved as expected.

Not sure what went wrong here, but I can't reproduce it.

[2014-01-21 00:29] #275 closed, assigned to nobody

[2014-01-21 00:34] jessepollak commented on #275
This is likely an issue with Waltz getting out of sync with Clef. It's [happened before](https://github.com/waltzio/waltz/issues/179), but I was pretty confident that we'd resolved the issue. I'll look into it on our end again and see if I can find anything. Please keep me informed if it happens again.

[2014-01-21 02:44] jessepollak opened #276 "Google login broken on Google apps domains"

[2014-01-21 03:26] jessepollak commented on #117
okcupid.com

[2014-01-21 03:41] lolux commented on #154
I was going to work on this today, but when I go to ads.twitter.com I get an odd-looking (broken? mobile?) page with a doubled `<form>`: https://www.dropbox.com/s/my9hosyy6e8ivsf/Screenshot%202014-01-20%2022.38.00.jpg

Doesn't look right to me. @brennenbyrne or @josephwegner is this what ads.twitter.com looks like for you?

[2014-01-21 03:43] jessepollak commented on #154
I see this: https://www.dropbox.com/s/3ce9zi6i99uvosw/Screenshot%202014-01-20%2019.42.29%283%29.png.

Try clearing your cache?

[2014-01-21 03:45] jessepollak commented on #154
Or just going in an incognito tab.

[2014-01-21 03:46] lolux commented on #154
It _is_ an incognito tab :)

Hmm, weird.

[2014-01-21 03:47] jessepollak commented on #154
WEIRD. Check your console?

On Mon, Jan 20, 2014 at 7:46 PM, lolux notifications@github.com wrote:

[2014-01-21 03:48] lolux commented on #154
Adblock plugin. Doh!

[2014-01-23 22:52] jessepollak commented on #117
accounts.planningcenteronline.com

[2014-01-23 23:00] jessepollak commented on #117
mc.doridian.de

[2014-01-24 16:14] #213 closed, assigned to nobody

[2014-01-24 16:30] lolux opened #278 "Investigate Wells Fargo auth errors"
Waltz logins returns errors from login attempts via this URL (received in a monthly statement reminder e-mail from Wells Fargo):
https://online.wellsfargo.com/signon?serviceType=document&loginMode=jukePassword&origination=email&LOB=CONS&msgId=

[2014-01-27 21:07] josephwegner commented on #117
- [ ] live.yodle.com

[2014-01-27 22:11] jessepollak commented on #180
This issue seems to still be around, but I haven't been able to track down when or where it occurs (I can't replicate). Seen in 32.0.1700.77.

[2014-01-28 19:17] josephwegner opened #282 "Port to Other Browsers"
- [ ] Safari
- [ ] Firefox

[2014-01-28 19:19] jessepollak commented on #282
It's as easy as checking a box!

[2014-01-28 19:37] josephwegner commented on #282
Not so easy, I guess...

https://www.dropbox.com/s/cl5cny2pif0l2h1/checkabox.mov

[2014-01-29 01:54] jessepollak commented on #117
- [ ] www.twitch.tv
- [x] bible.com

[2014-01-29 18:52] jessepollak commented on #117
- [ ] chase.com

[2014-01-30 19:09] iamb55 opened #287 "Southwest logout bug"
After logging in to and then out of Southwest with Waltz, subsequent visits redirect to http://www.southwest.com/flight/masterSessionTimeout.html where I get an error that my session has expired. Clicking on Waltz logs me in, but keeps me on the error page.

[2014-01-31 06:23] jessepollak commented on #287
I can't recreate, so I assume it's something IP based or something — can you show me tomorrow?

[2014-01-31 14:35] lolux commented on #287
Since it happens after logout my guess is that not enough cookies are being nuked at logout. Will test when I get back unless u all fix it in meantime.

[2014-02-01 07:10] jessepollak commented on #117
- [ ] startups.in

[2014-02-06 17:54] iamb55 commented on #117
- [ ] zipcar.com

[2014-02-07 02:22] iamb55 commented on #117
- [ ] shibboleth.nyu.edu

[2014-02-13 07:18] malino opened #288 "Integrate Heroku"
Please:)

[2014-02-13 15:54] jessepollak commented on #288
Fixed in #289. Closing, will ship this later today.

[2014-02-13 15:54] #288 closed, assigned to nobody

[2014-02-13 16:17] lolux commented on #287
I can't repro either.

[2014-02-13 18:22] jessepollak opened #290 "Paypal login broken"
![screenshot from 2014-02-12 23_07_17](https://f.cloud.github.com/assets/1097953/2163189/d5d40c3a-94db-11e3-959f-8927ddaddc29.png)

[2014-02-13 19:23] lolux commented on #290
Looks like some things changed with the "new" homepage design. I'm testing right now. From testing it seems that the second listener is no longer necessary. Working on a fix right now. . . .

I haven't figured out yet what [this new red thing](https://www.dropbox.com/s/lnzkwawecfhhfgu/Screenshot%202014-02-13%2014.20.47.jpg) is.

[2014-02-13 19:24] jessepollak commented on #290
Ha, that looks like it's the "x" blown up. I can restyle it when you get
this fixed :)

On Thu, Feb 13, 2014 at 11:23 AM, lolux notifications@github.com wrote:

[2014-02-13 19:35] #290 closed, assigned to nobody

[2014-02-13 19:36] jessepollak commented on #117
- [x] getpocket.com

[2014-02-14 17:14] jessepollak commented on #117
- [ ] vimeo.com

[2014-02-14 17:22] jessepollak opened #293 "Setup Waltz for Amazon.co.uk"
We already have it working for .com, so this should be relatively easy.

[2014-02-15 19:04] jessepollak opened #295 "Figure out more general solution for TLD internationalization"
We can't duplicate configurations for all TLDS a site uses (.com, .co.uk, etc). We should allow there to be an array of TLDS that the site config is valid for or something like that.

[2014-02-15 19:20] landakram commented on #295
There is a pretty good, parseable list of TLDs maintained by Mozilla here (
https://mxr.mozilla.org/mozilla-central/source/netwerk/dns/effective_tld_names.dat?raw=1)
that we could use.

On Saturday, February 15, 2014, Jesse Pollak notifications@github.com
wrote:

##

Typos courtesy of my iPhone

[2014-02-17 19:44] jessepollak commented on #117
- [ ] escalus.expensys.com

[2014-02-17 19:46] jessepollak commented on #117
- [ ] login.live.com

[2014-02-18 01:37] jessepollak commented on #117
- [ ] sfpl.lib.overdrive.com

[2014-02-18 15:18] lolux opened #297 "Include lower case in alphabetical sorting on sites.html"
https://www.dropbox.com/s/sh31lp8r4yxhu2c/Screenshot%202014-02-18%2009.59.42.jpg

[2014-02-18 16:09] #278 closed, assigned to nobody

[2014-02-20 06:23] jessepollak commented on #117
- [x] instructables.com
- [x] codecademy.com
- [ ] box.com
- [ ] mint.com

[2014-02-20 15:27] lolux opened #301 "Accommodate Mint.com"
My friend [the "event handler" error](https://www.dropbox.com/s/o47767gu3n9ls9a/Screenshot%202014-02-20%2010.19.43.jpg) has returned to say "hello" on mint.com's site config. Now, this may be due to me not being able to figure out how to parse Mint's ajax handling rather than a need to tweak the form submission bit under Waltz's hood.

Whatever the case, I need some assistance with this one. I've

[2014-02-20 17:01] jessepollak commented on #301
I fought this one hard, but I've had no luck so far. I fixed the event handler error, but Mint is just really finnicky..

[2014-02-20 17:22] jessepollak commented on #117
- [ ] www.firstib.com
- [ ] evernote.com

[2014-02-20 20:19] lolux opened #302 "Evernote log in"
https://github.com/lolux/waltz/blob/site-evernote/static/img/site_images/evernote.png
https://github.com/lolux/waltz/blob/site-evernote/site_configs/evernote.json
- log out works
- log in results in [a broken loop](https://www.dropbox.com/s/gjbsrpqtdnni2us/Screenshot%202014-02-20%2015.18.43.jpg)
  - Console displays a [keen analytics event message](https://www.dropbox.com/s/yfjx2utyxo49trb/Screens

[2014-02-25 17:48] josephwegner opened #305 "Testing Gitter"
Yo @jessepollak, check out the activity feed in Gitter!

[2014-02-25 17:55] #305 closed, assigned to nobody

[2014-02-26 14:22] lolux opened #307 "twoFactor on WordPress.com"
Related to #306:

TwoFactor was correctly hiding the Waltz button previously on wp.com, but now it is not:
https://www.dropbox.com/s/8n0qneq0fi619s8/Screenshot%202014-02-26%2009.13.07.jpg

The check param looks correct to me. Am I missing something? Or did something change in the code base regarding the twoFactor param (I don't think so...)?

[2014-03-11 22:30] jessepollak commented on #117
- [ ] http://series.ly/

[2014-03-12 16:50] jessepollak commented on #117
- [ ] www.lynda.com
- [ ] www.uno-e.com
- [ ] http://www.aerolineas.com.ar/
- [ ] http://whois.com
- [ ] http://copy.com
- [ ] http://outlook.com
- [ ] www.edreams.com.ar
- [x] http://instagram.com
- [ ] www.canva.com
- [ ] payza.com
- [ ] http://www.edmodo.com/
- [ ] quickbooks.com
- [ ] footholds.net
- [ ] vidahost.com
- [ ] bizcrowd.com
- [ ] discovercard.com
- [ ] bancomer.com.mx
- [ ] scottra

[2014-03-15 12:48] LotfyKhattab opened #311 "passwords on login.live.com"
I'd love to get rid of my passwords on login.live.com. Can you help?

[2014-03-26 10:07] lost8981 opened #312 "l"
d

[2014-03-26 17:12] #312 closed, assigned to nobody

[2014-03-27 00:55] callmehuyv opened #313 "Can you add http://lms.poly.edu.vn/ work with Waltz"
I hope you can add http://lms.poly.edu.vn/ work with Waltz. Thank you very much.

[2014-03-28 18:45] jessepollak opened #314 "On WordPress.com credentials input, asks for Wells Fargo username"
![image](https://cloud.githubusercontent.com/assets/1097953/2553764/1c263764-b6a9-11e3-9654-be607e092f53.jpeg)

[2014-03-28 21:01] lolux commented on #314
I couldn't repro on production version: https://www.dropbox.com/s/8sysgtygv43p56g/Screenshot%202014-03-28%2016.58.19.jpg

Or dev version: https://www.dropbox.com/s/32vupvg3j4itfd2/Screenshot%202014-03-28%2017.01.17.jpg

Running Chrome 33.0.1750.152

[2014-03-28 21:03] jessepollak commented on #314
I've seen this before for sure, but have done some searching and haven't
been able to replicate either.

On Fri, Mar 28, 2014 at 2:01 PM, lolux notifications@github.com wrote:

[2014-03-28 21:07] lolux opened #315 "Images not displaying on "Sites where I can use Waltz" page"
https://www.dropbox.com/s/lhibuzkz3rx4iyk/Screenshot%202014-03-28%2016.58.57.jpg

Only occurs on production version.
Dev version shows all images.

Running Chrome 33.0.1750.152.

[2014-03-28 21:08] jessepollak commented on #315
This is because new site configs have been pushed, but the images are
stored locally (so they haven't been merged in and deployed through actual
Waltz).

This can be fixed through an update to the plugin that uses a remote URL
for production version.

On Fri, Mar 28, 2014 at 2:07 PM, lolux notifications@github.com wrote:

[2014-04-03 23:28] jasonwhat opened #316 "Slack would be awesome"
Slack is a great tool for team communication (similar to Hipchat) and I think a lot of digital teams are using it. http://slack.com

Thanks for making waltz so awesome.

[2014-04-05 16:23] hisgarden opened #317 "please have waltz to work with personalcapital.com"

[2014-04-09 02:09] lolux opened #319 "Overcome the url param limitation for subdomains"
With regard to #316 (cf. #188 and #274 regarding the subdomain aspect of the challenge with adding Slack.com), the following is close to a workable solution to Slack's two-step login process:

[code]

Trial and error shows that this .json will work with a surprisingly consistent success rate.

However, the second config breaks the loop in certain circumstances (e.g., when, from a logged in state,

[2014-04-09 02:31] lolux commented on #319
Another thought for the possible solutions pile:
1. Update the check function so that instead of running the check using the URL set in the `url` param, run the check using the match pattern URL at the head of the config.

Perhaps such a solution would avoid the broken loop errors such as the new ones I introduced on amazon.co.uk when I tried to internationalize the Amazon site config (https://git

[2014-04-14 09:13] benjaminzanatta opened #320 "Support Feedly login"
It could be nice to be able to login to http://feedly.com/ with Waltz !
Thanks

[2014-04-15 18:58] lolux commented on #320
Hi @benjaminzanatta , thanks for the recommendation for adding Feedly. Unfortunately, feedly mandates social login (i.e., https://www.dropbox.com/s/ycfw75mc1au59iu/Screenshot%202014-04-15%2014.51.54.jpg), so Waltz cannot hook into Feedly's authentication process directly.

However, for an indirect Waltz-to-Feedly experience, if you use Waltz to sign into your Google account, then you can use Googl

[2014-04-15 23:32] jessepollak commented on #320
Accordingly, I'm going to close this issue.

[2014-04-15 23:32] #320 closed, assigned to nobody

[2014-04-16 17:00] jessepollak opened #322 "Logging in to Toggl is broken"
I think they've started using HTTP Basic Authentication, but I'm not quite sure what's up.

[2014-04-22 11:58] Ahunter2222 opened #323 "My Schools website"
http://bb.mivu.org/webapps/login/?action=relogin
I would like it to work with it because clef is awesome!

[2014-04-27 02:19] jonaharagon opened #324 "Compatibility with Self Hosted Wordpress Sites"
I would like to request support Waltz compatibility with Wordpress Self Hosted sites, hopefully through a plugin.

The websites in particular I would like compatibility with are: http://paracord.ml, http://mvgov.pw, http://writers.mvgov.pw, and http://beta.mcinternet.tk.

[2014-04-27 02:58] jessepollak commented on #324
Have you seen the Clef WordPress plugin? You can find it here:
http://wordpress.org/plugins/wpclef.
On Apr 26, 2014 9:19 PM, "Jonah A" notifications@github.com wrote:

[2014-04-27 19:20] jonaharagon opened #325 "Youhosting Support"
Can we add Waltz support for Youhosting (Login: youhosting.com/en/auth) and MC Web Hosting (Login: cpanel.mcweb.us)?

[2014-04-27 19:21] jonaharagon commented on #324
Yes, but it would be nice if it would just be linked with Waltz. For now I am offering Clef on most of those sites.

[2014-04-29 04:11] jessepollak commented on #324
Hmm, what would be the benefit of using Waltz instead of the plugin? That you wouldn't have to install it on the sites?

[2014-05-12 01:41] #314 closed, assigned to nobody

[2014-05-13 04:42] phmark1 opened #328 "twitter"

[2014-05-13 16:16] jessepollak commented on #328
Twitter should be working perfectly — are you having issues?

[2014-05-13 16:16] #328 closed, assigned to nobody

[2014-05-15 15:02] lolux opened #330 "Accommodate Pinterest . . . CSRF"
https://github.com/lolux/waltz/blob/site-pinterest/site_configs/pinterest.json
https://github.com/lolux/waltz/blob/site-pinterest/static/img/site_images/pinterest.png

Log out works.
Log in fails Pinterest's CSRF check and redirects here:
http://www.pinterest.com/csrf_error/

Is it even possible to accommodate such checks in Waltz (cf. https://github.com/waltzio/waltz/issues/34#issuecomment-263112

[2014-05-15 16:12] jessepollak commented on #330
Bleh Pinterest. Yeah, this login isn't possible with Waltz's current capabilities. Need to fix.

[2014-05-24 04:44] iamb55 opened #331 "Southwest login failed from flight booking page"
I picked a flight and then tried to log in with Waltz and it told me that my username and password were incorrect. When I went back to the home page, the login worked without a problem.

[2014-05-30 17:07] ninjapanzer opened #332 "Hipchat"
Please allow me to use Waltz to login to Hipchat

https://www.hipchat.com/

[2014-05-30 17:54] ninjapanzer commented on #316
Slack is a little harder. The login process takes you to <team>.slack.com for the actual login. From my observation of the configurations and documentation thus far the `urls` section doesn't appear to accept wildcards. I plan to look into this a little bit.

[2014-05-30 19:57] jessepollak commented on #316
Yeah, this isn't something Waltz currently supports, but it's definitely something it _can_ support.

I think it _may_ actually work to have a config with `formOnly` enabled, no `formURL` or `urls` field and the domain set to `*://*.slack.com`. There may be some errors there from undefined, but logically  I think that would work. Obviously, it would mean that the user would have to visit the login

[2014-05-30 20:02] #332 closed, assigned to nobody

[2014-05-30 20:08] ninjapanzer commented on #316
I was reading the sample in #319 so I am going to play with it and see if it would make sense to allow urls to be `patterns` or `strings`

[2014-05-30 20:20] jessepollak commented on #316
I'm not sure whether you need the double config object like @lolux has there, but play around with it and let me know. Would be really excited to see a PR with better support for subdomain based login. We have a lot of sites, which we haven't been able to add because we lack support for that.

[2014-06-02 19:56] jessepollak opened #334 "Add ability to do an AJAX login"
Just had to remove Dropbox because it now requires an AJAX based login.

[2014-06-16 17:15] ninjapanzer opened #336 "wikinvest login query params"
Regarding https://github.com/ninjapanzer/waltz/blob/pks/wiki_invest/site_configs/wikinvest.json

The formURL on this page requires a query parameter so as a test I provided the one that the site gives me for testing.

It appears that the query params are stripped when the formURL is requested

[2014-06-20 13:00] ninjapanzer opened #339 "Waltz Security violation - GitHub"
Refused to frame 'https://api.waltz.io/v1/login' because it violates the following Content Security Policy directive: "frame-src 'self' render.githubusercontent.com www.youtube.com".

When trying to sign into github

[2014-06-20 14:08] #339 closed, assigned to nobody

[2014-06-20 14:09] jessepollak commented on #339
You should get an update in an hour or so that fixes this issue.

[2014-06-21 22:38] jonaharagon commented on #324
Yes, and that if you use Waltz to login to say, Google, you'll also be logged into the WordPress site. It would just make it easier for end-users. Those sites mostly don't apply anymore, but I would still like this to happen somehow for other sites, even if it is through a plugin, just because of the connection.

[2014-06-21 22:39] #325 closed, assigned to nobody

[2014-06-21 22:40] jonaharagon commented on #323
I too would like it on my school's website (anoka.k12.mn.us) if possible :)

[2014-06-22 22:13] ptcrash opened #340 "newegg.com"
Hello,

I would love to have Waltz work on my newegg account. Think this is possible?

Keep up the awesome work bros!

[2014-06-30 18:49] iamb55 opened #341 "Failed Login on SVB"
svbconnect.com — typed correct credentials but login failed

[2014-06-30 21:04] landakram commented on #341
This is fixed with https://github.com/waltzio/waltz/commit/b2f65ee7e9e48c53c872ed6dd30ff7ee9364b6a7

[2014-06-30 21:04] #341 closed, assigned to nobody

[2014-07-06 22:01] iamb55 opened #343 "Not Activated on T-Mobile"
Waltz isn't noticing the forms on T-mobile's site, maybe because it's looking for a phone number instead of a username?

https://my.t-mobile.com/Login/default.aspx

[2014-07-10 08:37] clawfire opened #344 "LinkedIn loggin failed"
I want to add LinkedIn to waltz, Add email and password. I'm logged in linked in but the extension tell me I got invalid credentials ...

[2014-07-18 18:33] ghost opened #347 "hulu login?"
Can it be made to work with hulu.com?

[2014-07-18 18:45] ghost opened #348 "icloud.com?"
How about making it work at icloud.com?

[2014-07-24 16:42] iamb55 opened #350 "AmericanExpress.com"
Login with waltz results in 502 bad gateway error

[2014-07-24 17:33] landakram commented on #316
I just checked in on this - with the latest update, you can use Waltz to log in to slack.com w/o a site config. We could make the interaction better (for instance, you have to enter in your email address first to get to the `*://*.slack.com` subdomain for your team and then click the Waltz button there), but I'm going to close this for now.

[2014-07-24 17:33] #316 closed, assigned to nobody

[2014-07-24 17:40] landakram commented on #344
Hey @clawfire, would you give it another shot and let me know if you're still seeing the error? I've been using Waltz with LinkedIn with no issue when I log in from http://linkedin.com

[2014-08-04 22:59] jessepollak opened #351 "Allow page disallow settings to be access from toolbar"
Right now, in order to change the settings on whether Waltz is displayed you need to go to the Waltz settings page and manually update them. It would be better if these settings could be changed on-page via the Waltz button in the Chrome toolbar.

[2014-08-05 16:10] jessepollak opened #352 "Waltz does not display when submit button is not an input"
When the submit button in the login form is not an input, Waltz does not display.

See an example of this at:
- [opentable.com](http://opentable.com).
- [icloud.com](http://icloud.com)
- [hulu.com](http://www.hulu.com/)
- [tmobile.com](https://my.t-mobile.com/Login/default.aspx)

[2014-08-05 16:11] jessepollak commented on #348
Merged into #352.

[2014-08-05 16:11] #348 closed, assigned to nobody

[2014-08-05 16:13] jessepollak opened #353 "Waltz does not display when username and password fields are not wrapped in a form"
If the login form does not use an actual HTML form (they likely submit via JS), then Waltz does not display.

See an example of this at:
- [hulu.com](http://www.hulu.com)

[2014-08-05 16:14] jessepollak commented on #347
Merged into #352 and #353.

[2014-08-05 16:14] #347 closed, assigned to nobody

[2014-08-05 16:16] jessepollak commented on #344
I'm closing this as we can't replicate. @clawfire, please reopen if you can.

[2014-08-05 16:16] #344 closed, assigned to nobody

[2014-08-05 16:19] jessepollak commented on #343
Merged into #352.

[2014-08-05 16:19] #343 closed, assigned to nobody

[2014-08-05 16:22] jessepollak commented on #336
With the new Waltz, Wikinvest should be working. Can you reopen if it's not?

Thanks!

[2014-08-05 16:22] #336 closed, assigned to nobody

[2014-08-05 16:23] jessepollak commented on #334
This is fixed with our latest Waltz changes (Dropbox works :)

[2014-08-05 16:23] #334 closed, assigned to nobody

[2014-08-05 16:24] jessepollak commented on #330
Fixed by new Waltz.

[2014-08-05 16:24] #330 closed, assigned to nobody

[2014-08-05 16:25] jessepollak commented on #265
Fixed by new Waltz.

[2014-08-05 16:25] #265 closed, assigned to nobody

[2014-08-05 17:56] lolux commented on #265
:bow:
:boom:

[2014-08-18 17:18] iamb55 opened #354 ""incorrect password" error on frontapp.com"
password is correct, but waltz failed anyway

[2014-08-20 20:09] landakram opened #355 "Waltz not working on Washington Metro"
[This](https://smartrip.wmata.com/Account/AccountLogin.aspx) is the site in question. It seems that Waltz is detecting the login form, even though the submit button is `input[type="image"`. Waltz should either correctly handle that input type or not detect the login form.

[2014-08-25 17:45] jessepollak opened #356 "Waltz does not display when username is filled in initial step"
For banks and other sites where you input your username on one page, then type your password on the next, Waltz does not load on either.

You can find an example of this failure [here](https://hb.lmcu.org/HomeBanking/AOP/Password.aspx).

[2014-08-25 20:28] jessepollak opened #357 "Waltz does not display on http://www.mercadolibre.com.mx/"
Don't know why...

[2014-08-28 16:53] jessepollak opened #358 "Support additional fields besides username and password"
Occasionally, websites require users to input an account ID or something like that along with their username and password. I'm not sure how we should handle it, but we should figure out a way to make it work.

[2014-08-28 17:55] jessepollak commented on #358
Examples:

• www.paycomonline.net
• gfs.grenke.fr

[2014-08-30 00:06] jessepollak commented on #353
Another example: compassion.com

[2014-09-02 15:39] #117 closed, assigned to nobody

[2014-09-03 23:59] jessepollak commented on #357
This is happening because it's loading the login form in an iframe — not sure why Waltz isn't loading in that iframe.

[2014-09-04 00:09] #355 closed, assigned to nobody

[2014-09-04 23:04] iamb55 opened #359 "Migration from Dashlane"
For users who already use a password manager, setting up Waltz can be frustrating (double prompts to log into each site etc.)

We should have migration assistants to move stored passwords from:
- [ ] Dashlane
- [ ] Lastpass
- [ ] 1Password

[2014-09-09 19:54] jessepollak opened #360 "Waltz does not display on https://utdirect.utexas.edu/"

[2014-09-10 00:01] jessepollak opened #361 "Waltz submits wrong on https://members.cdbaby.com/login"

[2014-09-17 23:04] jessepollak opened #362 "Fix waltz on https://workforcenow.adp.com"
The password input starts with type="text" and then on keydown it changes to type="password".

[2014-09-22 16:38] Mar0xy opened #363 "Roblox.com"
Please Make Waitz work with roblox

[2014-10-06 08:32] vanja988 opened #364 "Waltz popping up on Localhost"
Waltz keeps popping up for http://localhost/ - I have WAMP server installed.

![waltz-localhost](https://cloud.githubusercontent.com/assets/992692/4523103/06646f60-4d33-11e4-8ddc-779444cc4275.PNG)

[2014-10-06 08:38] vanja988 commented on #364
After a dozen page refreshes it asked me If I wish to hide it permanently, so that solved my problem.

[2014-10-06 08:38] #364 closed, assigned to nobody

[2014-10-06 08:52] vanja988 opened #365 "Clef timer runs out, still logged into Waltz."
So if I want to be sure I'm logged out of of Waltz I have to log in through Clef website and press the "sign out now" button in the app.

[2014-10-06 18:30] landakram commented on #365
Hey @vanja988, I'm one of the co-founders of Clef — it looks like this might be part of a Clef-specific issue that is causing some synchronicity issues between the Clef app on smartphones and the Clef server after tapping the "infinity" button.

We're seeing problems where after tapping the "infinity" button, people appear logged out on their phones, but aren't actually logged out on their compute

[2014-10-06 18:52] vanja988 commented on #365
Nice to hear fix is on the way!

Vanja Đurinec

On 6 October 2014 20:30, Mark Hudnall notifications@github.com wrote:

[2014-10-11 00:38] bigsweater opened #366 "How's about some MediaTemple support?"
[The AccountCenter](https://ac.mediatemple.net) is sorta insecure. ;)

[2014-10-11 00:42] bigsweater commented on #366
Actually, just saw that Waltz supports it just fine. Oops!

[2014-10-11 00:42] #366 closed, assigned to nobody

[2014-10-17 20:25] AndreasSF opened #367 "Waltz continuously pops up as I navigate from page to page"
I noticed that on every page I navigate to on the NYT site, the Waltz icon pops back up asking to log in? Why doesn't it recognize the top level domain?

[2015-01-14 04:01] ghost opened #368 "Add a site"
Please make Waltz compatible with HostHorde! I can't change my password lol

[2015-01-14 04:02] ghost commented on #368
Oops accidently closed :P

[2015-01-18 03:39] ghost commented on #368
Thanks so much!

[2015-01-18 03:39] #368 closed, assigned to nobody

[2015-02-22 00:02] luisabellan opened #369 "I want to this site to work with waltz"
I want this site to work with waltz: http://www.atresplayer.com/

[2015-02-24 11:21] lolux opened #370 "Update check on nytimes.com"
The WordPress-powered section of nytimes.com (e.g., http://www.nytimes.com/2015/02/24/opinion/david-brooks-the-hamilton-experience.html?ref=opinion) does not hide the Waltz button since it's check element attribute is different than the rest of the site.

Add the following to the check element to fix:
`button:contains('Log Out'), .log-out-button`

[2015-02-24 16:52] josephwegner opened #371 "news.ycombinator.com logins broken"
Seems like they changed their login scheme

[2015-02-24 21:33] EldonPetersPener opened #373 "Gandhi"

[2015-02-24 21:33] #373 closed, assigned to nobody

[2015-03-12 09:59] scottdwest opened #375 "subdomains treated as unique sites"
An organisation I work with has various different web applications stored on different subdomains. For reasons only known to the organisation I have different usernames and passwords for each application.

Currently the subdomains are treated as if they don't exist and waltz tries to log in using my credentials for the main site rather than the subdomain.

When I try to add new user info, it tires

[2015-04-14 17:35] bgiesing opened #376 "Radionomy Support"
Is there anyway you guys can support [Radionomy](http://radionomy.com) and it's [Radio Manager (RMO)](http://rmo.radionomy.com), a site that lets you make your own radio station?

[2015-04-14 19:32] bgiesing commented on #7
Is there anyway this could be considered again? I use almost a different computer every day and what is the point of password-less login, if we have to set it up everyday.

[2015-04-19 12:45] robynvs opened #377 "navient"

[2015-04-24 05:52] odil-io opened #378 "I want this site to work with Waltz"
Hey waltz, I'd love to get rid of my passwords on elo.rocfriesepoort.nl. Can you help?

[2015-04-25 22:58] lolux opened #379 "Facebook check not working in non-English FB logins."
Users of non-English FB have reported that the Waltz button appears despite the fact that they are logged in.

[2015-04-28 23:10] tcely commented on #358
I'd very much like this to be addressed. The quickest way to handle it (until something better is developed) is to allow the user to enter the information they need (domain, remember me, whatever) then have waltz fill in the username / password like it does now. To accomplish this the toolbar needs a way to bring up the authentication overlay after the initial page load.

The workflow goes like th

[2015-04-29 15:52] lolux opened #380 "Instagram attempts GET instead of POST for submission"
Waltz for Instagram is trying to submit the form with a GET rather than a POST.

A user reports that this looks something like... `http://instagram.com?user=xxxxx&password=yyyyy.`

[2015-05-03 14:30] 50IN opened #381 "vk.com"
I want this site to work with Waltz!

[2015-05-06 16:21] #370 closed, assigned to nobody

[2015-05-06 16:21] jessepollak opened #382 "Uncaught TypeError: Cannot set property 'cssText' of null"
We see an example of this error on this page: https://www.marktplaats.nl/account/login.html

![screenshot 2015-05-06 09 20 15](https://cloud.githubusercontent.com/assets/1097953/7497737/4cc7f626-f3d1-11e4-8ef6-45cb61b56bfb.png)

[2015-05-08 19:04] louislefebvre opened #383 "Add forum.botoflegends.com"
Hello :)

If it's possible, can you add forum.botoflegends.com.

It's a forum with ipb.

Thx :)

[2015-05-16 03:26] pritdeveloper opened #384 "Add Bitbucket.org & gitlab.com"
Websites URL
1. https://bitbucket.org/
2. https://gitlab.com/

[2015-05-22 02:40] nathaniel-holder opened #385 "toggl login not configured correctly"
walts is going to the URL https://www.toggl.com/login/ which is returning the code "405 Not Allowed"

[2015-06-03 21:04] AndreaBarbon opened #386 "BlaBlaCar.it"
Italian car sharing #1 website

[2015-06-06 19:33] blueridgemountains1 opened #387 "Citi Card"
It would be great if Waltz supported Citi Cards credit cards.

https://www.citi.com/credit-cards/creditcards/CitiHome.do

Thanks!

[2015-06-09 12:19] lolux opened #388 "Add support for Disqus"
User reports Waltz logins not working at https://disqus.com/.

[2015-07-01 15:34] DarkOfNight opened #389 "Technic Platform Compatibility"
Hi,
Can I use Waltz on the website http://www.technicpack.net/?

Thanks

[2015-07-11 17:03] macfarlandian opened #390 "chase.com login doesn't work"
it redirects to some blank login page that seems like it's supposed to be hidden in an iframe or something, and authorization does not complete

[2015-07-16 05:45] wangwindlong opened #391 "Waltz website request"
Hi Waltz Team!

I would love to use Waltz on a2plcpnl0131.prod.iad2.secureserver.net.

Thanks!
YOUR_NAME

[2015-07-27 15:43] hgGeorg opened #392 "Account password easily retrievable"
It is possible to retrieve every set password by going into the 'Waltz Management' page, press the 'decrypt' and 'show' buttons.

The only requirement is being logged in in clef(/waltz?). If the user has multiple sites saved in waltz chances of being logged in is very high. Leaving the computer unattended and unlocked for even a short amount of time has the risk of having **every** password stolen

[2015-07-28 01:03] jessepollak commented on #392
Hi! Thanks for taking the time to open an issue! When a user logs in with Clef, all the passwords are decrypted and when they log out they are re-encrypted. In the interim—when a user is on the computer with Clef active—users can view, edit, and delete the saved credentials. This is the expected behavior, let me know if you have any other questions!

[2015-07-28 01:03] #392 closed, assigned to nobody

[2015-07-28 07:44] hgGeorg commented on #392
The thing is: If they don't log out, **ALL** their saved password are visible in plaintext. One error can compromise **ALL** your passwords. It is worse than any browser built-in password management system. Chrome for example requires a password before showing any saved passwords as plain text.

There are no other password management system I know of that will expose **ALL** your password if you s

[2015-07-28 15:56] josephwegner commented on #392
FWIW, I use 1Password as well, and that also allows passwords in plaintext for a defined amount of time, without requiring a password. Similar to Clef, the timeout is configurable.

[2015-07-29 17:15] tmartyny opened #393 "USAA isn't recognizing my login"
When I login without Waltz on USAA, my credentials work, but when I try to use Waltz, the credentials aren't recognized.

[2015-08-28 11:50] iamnoah opened #395 "Waltz makes Twitter slow"
Some Waltz callback is taking 110ms per keystroke when composing a tweet. Most of us can press keys faster than that and it is really annoying. Just go to Twitter and compose a tweet.

Here is the flame chart:
<img width="458" alt="screen shot 2015-08-28 at 6 48 00 am" src="https://cloud.githubusercontent.com/assets/139201/9545562/c29de422-4d50-11e5-9513-baecf7d31cd0.png">

Do you really need to c

[2015-10-19 12:47] #376 closed, assigned to nobody

[2015-11-16 15:58] macfarlandian commented on #367
+1 ... this isn't confined to that site in my experience, it happens everywhere

[2015-11-24 17:34] droidcung opened #396 "m88"

[2015-11-30 04:23] macfarlandian opened #397 "site request: securebanking.ally.com"

[2015-12-09 14:45] ghost opened #398 "neworld.in"

[2015-12-14 15:29] macfarlandian opened #399 ""content-security-policy" error"
I get this Chrome "extension error" fairly regularly -- once a week or so. Disabling and re-enabling Waltz clears it but it continues to recur.

![screen shot 2015-12-14 at 7 26 46 am](https://cloud.githubusercontent.com/assets/5385319/11784998/4d8af15a-a234-11e5-8525-12fea97305b0.png)

Current system specs: Chrome Version 47.0.2526.80 (64-bit), OS X El Capitan, Waltz 2.0.13

[2015-12-20 01:56] catgirlinspace commented on #395
I know.

[2015-12-20 01:57] catgirlinspace opened #400 "Site Request: All NodeBB Forums"
I would like Waltz to work with all NodeBB Forums.

[2015-12-20 01:58] catgirlinspace opened #401 "Site Request: All Discourse Forums"
I would like Waltz to work with all Discourse Forums.

[2015-12-23 14:40] espa77 opened #402 "GMAIL please!"

[2016-01-05 00:33] My1 commented on #282
well I really support this, I am a firefox user and at least for me it looks kinda weird that even after almost 2 years nothing happened here, since usually chrome is the more restrictive one when talking about plugins/addons...

[2016-01-05 23:01] jaredly opened #403 "is this dead?"
no activity in 6 months, several glaring issues....

although -- to be clear -- it's amazing and magical. really slick experience, and I want this to replace all my passwords. but is it still alive?

[2016-01-06 15:07] ghost opened #404 "Tumblr login does not work"
There is a problem with the Tumblr page. When surfing on main Tumblr link, there is not a login form with both E-Mail and Password fields, there is only the E-Mail field and the website automatically loads based on the existence of the E-Mail address in their database.
Basically, when i try to replace my username and password in the Waltz Chrome App with my Tumblr data, it redirects me to a blank

[2016-01-06 20:15] Gerzer commented on #403
I _really_ don't want this to be dead. Safari support is needed!

[2016-01-10 12:45] My1 commented on #403
Firefox as well

[2016-01-11 20:11] jessepollak commented on #403
It's not dead, but it's also not getting as much love as we'd like it to. We still have a large base of people that are using this every day, and who love using Clef to replace their passwords, but as the issues on this repo point out, there are a number of edge cases + reliability issues that don't always make that the best experience.

We have no plans to stop supporting this project and are hop

[2016-01-11 20:11] #403 closed, assigned to nobody

[2016-01-11 20:13] jessepollak commented on #403
If anyone here is interested in contributing, I can take some time to lay out ways you can help. Just let me know!

[2016-01-11 20:13] My1 commented on #403
okay, well too bad you cannot put that much into it because I WOULD love to use it, but with no FF support...

[2016-01-11 20:14] My1 commented on #403
well I have no Idea how to make FF plugins but if there are oother ways to help...

[2016-01-11 21:01] Gerzer commented on #403
I've had at least minimal experience working on safari extensions. I could perhaps help a little with a Safari port.

Sent from my iPhone

[2016-01-13 00:39] jessepollak commented on #403
I think we want to focus our efforts on improving the stability and ease of use of the Chrome experience before moving on to support other browsers.

In terms of how you can help out, the biggest non-technical help we need right now is triaging the issues and bug reports on the repo right now. If we can get a better sense of when and where issues are occurring, with good reproducible test cases, t

[2016-01-13 00:43] My1 commented on #403
but the intresting question is why the first browser was chrome. firefox _seems_ to be a lot better for developing addons because the interfaces are a lot more open than in chrome, for example a DNSSec check plugin for chrome needs an extra binary installed to look up the DNSSec stuff, while in Firefox all is nicely inside an addon.

[2016-01-13 05:10] jaredly commented on #403
@My1 though firefox's setup is more powerful, chrome's is _much_ more developer friendly, and vastly better documented.

[2016-01-13 07:57] My1 commented on #403
oh. well I certainly hope for an FF plugin.
it would be epic of there would be a way to "convert" it or to develop at once for multiple platforms (there are tools that do it for ios, android and winphone at once, so there might be similar stuff for browser plugins out there)...

[2016-01-13 20:16] Gerzer commented on #403
Check this out: https://github.com/kritollm/chrome-extension-api-for-safari-and-firefox. I've been playing around with porting Waltz using it (I haven't had too much success, but maybe I'm doing something wrong).

[2016-01-13 20:35] jaredly commented on #403
firefox has actually added support for chrome's extension apis in large part, so it might not be too difficult to port it (see https://developer.mozilla.org/en-US/Add-ons/Bootstrapped_extensions)

[2016-01-15 11:12] My1 commented on #403
well that sounds epic.

[2016-01-15 11:13] My1 commented on #402
+1

[2016-01-15 11:14] My1 commented on #205
has there been anything to this yet? sounds intresting

[2016-02-11 07:42] deanilvincent opened #405 "Waltz Doesn't Appear/Pop Up In My Brower"
I love using clef in my wordpress so, I added the Waltz extension on my google chrome browser. The problem is, the waltz login with cleft doesn't appear.

[2016-03-06 15:47] aesta7 opened #406 "Duke Energy"
Are there plans to integrate with utility companies -- duke energy, vectren etc?

[2016-03-14 05:56] aesta7 opened #407 "Cpanel Webmail & Waltz"
Hi,

If these two could be configured to work together, that would be awesome. Currently it rejects my login via waltz. https://sr11.supercp.com:2096

[2016-05-10 10:00] RDCH106 opened #408 "Waltz not working"
Waltz extension Chrome is not available in Chrome Web Store:

[https://chrome.google.com/webstore/detail/waltz/obhibkfopclldmnoohabnbimocpgdine](https://chrome.google.com/webstore/detail/waltz/obhibkfopclldmnoohabnbimocpgdine)

And It has stopped working my installed version in Chrome Browser.

[2016-05-10 14:35] Gerzer commented on #408
I wish Waltz weren't neglected so much...

[2016-05-16 20:23] jessepollak commented on #408
Hi y'all — thanks for the heads up, we're looking into it!